{% from "govuk/components/button/macro.njk" import govukButton %}

{% if params.isDetailsPage %}
  {% set buttonClasses = 'govuk-!-margin-bottom-4' %}
{% else %}
  {% set buttonClasses = 'govuk-!-margin-bottom-0' %}
{% endif %}

{% set openDataAttributes = {} %}
{% if params.resourceLocator %}
  {% set openDataAttributes = openDataAttributes | merge({
    onclick: "openDataModal('" + params.organisationName + "', '" + params.resourceLocator + "')"
  }) %}
{% else %}
  {% set openDataAttributes = openDataAttributes | merge({disabled: "true"}) %}
{% endif %}

{{ govukButton({ text: 'Open data', attributes: openDataAttributes, classes: buttonClasses }) }}