{% extends 'partials/modal/template.njk' %}
{% from 'govuk/components/button/macro.njk' import govukButton %}
{% set extraClass = ' skip-questionnaire-modal' %}
{% block modalContent %}
  <div class='data-container'>
    <h1 class='govuk-heading-l data-container__heading-l govuk-!-margin-bottom-0'>You are about to view 10,000
      <br/>results</h1>
    <p class='govuk-body-l data-container__body-l govuk-!-margin-bottom-0'>Select more categories to<br/> narrow down your results
    </p>
    <div class='govuk-button-group data-container__button-group govuk-!-margin-bottom-0'>
      {{ govukButton({
        text: 'Select more',
        classes: 'govuk-button--secondary govuk-!-margin-bottom-0',
        href: '#',
        attributes: {
          onclick: 'closeSkipQuestionnaireModal()'
        }
    }) }}
      {{ govukButton({
        text: 'See results',
        classes: 'govuk-!-margin-bottom-0',
        id: "skip",
        href: '#',
        attributes: {
          onclick: 'closeSkipQuestionnaireModal()'
        }
    }) }}
    </div>
  </div>
{% endblock %}
