.details {
  &-title {
    @include font-style-stack(36px, 40px);
  }

  &-alt_title {
    @include font-style-stack(19px, 25px, 300);
    width: 630px;
    margin-bottom: 20px;
  }
}

.govuk-tabs__list-item .govuk-tabs__tab {
  @include font-style-stack(19px, 19px, 300);
  color: $govuk-text-colour;
}

.tab-content {
  &-container {
    display: grid;
    gap: 15px;
  }

  &-row {
    display: grid;
    grid-template-columns: 1fr;
  }

  &-label {
    @include font-style-stack(16px, 20px, 700);
    width: 270px;
    text-align: left;
    vertical-align: top;
    color: #000;
    margin: 0;

    span {
      @include font-style-stack(16px, 20px, 300);
    }
  }

  &-value {
    overflow: auto;
    @include font-style-stack(16px, 20px, 300);
    color: $govuk-text-colour;
    text-align: left;
    p {
      margin: 0;
    }

    &__not-provided {
      @include font-style-stack(16px, 16px, 700, normal, false, 1px);
      width: 130px;
      padding: 5px 1px 5px 5px;
      margin: 0;
      height: fit-content;
    }
  }
}

.open-data-block {
  &--disabled {
    padding-left: 15px;
    border-left: 5px solid $govuk-error-colour;
    margin-bottom: 25px;
  }

  &--tag {
    @include font-style-stack(19px, 25px, 700, normal, true);
    color: $govuk-error-colour;
    display: block;
  }
}

.toggle-content__link {
  @include font-style-stack(16px, 20px, 300);
  color: $govuk-link-colour !important;
}

.details-table {
  border-collapse: collapse;

  th,
  td {
    padding: 8px 0;
    text-align: left;
    vertical-align: top;
  }

  th {
    padding-top: 0;
  }

  thead tr,
  tbody tr {
    border-bottom: 1px solid $govuk-border-colour;
  }
}

.detail-map {
  border: 2px solid $govuk-text-colour;
}

.details-table-full {
  border-collapse: collapse;
  width: 100%;
}
.details-table-full th,
.details-table-full td {
  padding: 8px 0;
  text-align: left;
  vertical-align: top;
}

.details-table-full th {
  padding-top: 0;
}

.details-table-hr{
  padding: 0 !important;
  border-bottom: 1px solid #B1B4B6;
}

@media (min-width: 768px) {
  .tab-content-row {
    grid-template-columns: auto 1fr;
  }
}
