.geography-fields {
  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

.geography-buttons {
  &__right {
    display: flex;
    justify-content: flex-end;
    float: right;
  }
}

.defra-map-clear-selection {
  &__block {
    display: none;
    width: 150px;
  }

  &__link {
    @include font-style-stack(19px, 25px, 300, normal, true);
    display: flex;
    align-items: center;
    color: $govuk-link-colour !important;

    &:hover {
      color: $govuk-link-hover-colour !important;
    }

    &:focus {
      color: $govuk-link-hover-colour !important;
    }
  }
}
