.header {
  background-color: $govuk-black;
  color: govuk-colour('white');
  border-bottom: 2px solid $defra-brand;
  font-family: 'GDSTransport', 'GDSTransport Fallback';

  .navLinks {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .service-name {
    justify-content: left;
  }
  .service-links {
    justify-content: left;
  }
  &__primary {
    padding: 10px 15px;
    display: grid;
    grid-template-rows: min-content min-content;
    column-gap: 20px;
    row-gap: 10px;
    border-bottom-width: 1px;
    border-color: rgb(80 90 95);
    grid-template-columns: repeat(1, minmax(0, 1fr));
    align-items: center;
    color: inherit;

    .service-name {
      grid-column-start: 2;
    }
    .navLinks {
      margin: 0px;

      .govuk-link {
        color: inherit;
        border-width: 0px;
        border-color: govuk-colour('white');
        border-style: solid;
        display: inline-flex;
        gap: 5px;
        align-items: center;

        &:link {
          color: govuk-colour('white');
        }
        &:visited,
        &:focus {
          color: inherit;
        }
      }

      .defra-logo {
        font-size: 1rem;
        font-weight: 400;
        gap: 10px;
        flex-direction: column;
        align-items: flex-start;
        .icon svg {
          width: 2.5rem;
          aspect-ratio: auto;
        }
      }
    }
  }

  &__secondary {
    background-color: govuk-colour('white');
    color: $govuk-black;
    padding: 10px 15px;
    display: grid;
    grid-template-rows: min-content min-content;
    column-gap: 20px;
    row-gap: 10px;
    border-bottom-width: 1px;
    border-color: rgb(80 90 95);
    grid-template-columns: repeat(3, minmax(0, 1fr));
    align-items: center;

    .navLinks {
      margin: 0px;
      gap: 20px;

      .govuk-link {
        color: $govuk-black;
        align-items: center;
        display: inline-flex;
        gap: 5px;
      }
    }

    .ea-logo {
      .icon svg {
        width: 130px;
        height: 40px;
        aspect-ratio: auto;
      }
    }

    .service-name {
      text-align: center;
    }

    .service-links {
      display: none;
    }
  }

  .menu-button {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1rem;
    border: 0px;
    background-color: inherit;
    padding: 0px;
    margin: 0px;
    font-family: inherit;
    cursor: pointer;
    margin-left: auto;
  }
  .menu-options {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid $govuk-black;
    box-shadow: 0px 1px $govuk-black;
    position: absolute;
    top: 110%;
    background-color: govuk-colour('white');
    z-index: 11;
    right: 0;
    gap: 5px;
    overflow: hidden;

    .govuk-link {
      padding: 10px;
      width: 100%;
    }
  }
  .relative {
    position: relative;
  }
  .is-visible {
    display: flex;
  }
}

@media (min-width: 61.25em) {
  .header {
    .service-name {
      justify-content: center;
    }
    .service-links {
      justify-content: end;
    }
    &__primary {
      row-gap: 0px;
      grid-template-columns: repeat(3, minmax(0, 1fr));

      .navLinks {
        .defra-logo {
          flex-direction: row;
          align-items: center;
          .icon svg {
            width: 3rem;
          }
        }
      }
    }

    &__secondary {
      row-gap: 0px;
      // grid-template-columns: repeat(3, minmax(0, 1fr));

      .service-links {
        display: flex;
      }
    }

    .menu-button,
    .menu-options {
      display: none;
    }

    .mobile-only {
      display: none;
    }
  }
}
