@media only screen and (min-width: 769px){
    .header-container {
        display: block;
    }
}

@media (min-width: 40.0625em) {
    .govuk-header__link--service-name, .govuk-header__service-name {
        font-size: 24px;
        font-size: 1.5rem;
        line-height: 1.25;
    }
}

.govuk-header__link--service-name, .govuk-header__service-name {
    display: inline-block;
    margin-bottom: 10px;
    font-family: GDS Transport,arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.1111111111;
    margin-top: 1%;
}

.govuk-tag.govuk-phase-banner__content__tag {
    background-color: $govuk-link-colour;
    color: govuk-colour("white");
    text-transform: uppercase;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 1px;
}