.full-width-banner {
  width: 100%;
  background-color: $gov-defra-color-websafe;
  box-shadow: 0 0 0 20vmax $gov-defra-color-websafe;
  clip-path: inset(0 -20vmax);
  margin-bottom: 20px;
}

.banner-container {
  padding-top: 30px;
  padding-bottom: 30px;

  &__heading-xl {
    @include font-style-stack(36px, 40px);
    color: govuk-colour('white');
    margin-bottom: 20px;
  }

  &__caption-l {
    @include font-style-stack(19px, 30px, 300);
    color: govuk-colour('white');
  }
}

.video-container {
  margin-bottom: 40px;

  &__heading-m {
    @include font-style-stack(24px, 30px, 700);
    color: $govuk-text-colour;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0px;
    border-top: 1.5px solid $govuk-border-colour;
  }

  &__frame {
    position: relative;
    padding-bottom: 33%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
    }

    @media screen and (max-width: 799px) {
      iframe {
        width: 100%;
        height: 100%;
      }
    }
  }
}
