.search-result {
  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding-top: 20px;
  }

  &__heading {
    margin-bottom: 0;
    color: $govuk-text-colour;
    @include font-style-stack(19px, 30px);

    &--empty {
      font-size: 24px;
    }
  }

  &__parameter {
    display: flex;
    gap: 10px;

    &-label {
      color: $govuk-secondary-text-colour;
      @include font-style-stack(16px, 20px, 700, normal, true);
    }

    &-value {
      color: $govuk-secondary-text-colour;
      @include font-style-stack(16px, 20px, 300, normal, true);
    }
  }

  &__content {
    margin: 0;
    color: $govuk-text-colour;
    @include font-style-stack(16px, 20px, 300, normal, true);

    &--empty {
      @include font-style-stack(19px, 25px, 300, normal, true);
    }
  }

  &__button-group {
    margin-bottom: 25px;
  }

  &__button-group > .govuk-button {
    margin-bottom: 0;
  }
}

.option {
  &-container {
    display: grid;
    grid-template-columns: 0.9fr 1.4fr;
    gap: 10px;
    margin-top: 15px;
  }

  &-group {
    margin-bottom: 20px;
  }

  &-block {
    @include font-style-stack(19px, 25px, 300, normal);
    min-width: auto;
    width: 160px;
  }

  &-label {
    @include font-style-stack(19px, 25px, 300, normal);
    margin-right: 10px;
    display: inline-block;
  }

  &-items {
    @include font-style-stack(19px, 25px, 300, normal);
    min-width: auto;
    width: 80px;
  }
}

.data-container {
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: 30px;

  &__heading-l {
    @include font-style-stack(36px, 40px);
    color: govuk-colour("white");
  }

  &__body-l {
    @include font-style-stack(19px, 24px, 300);
    color: govuk-colour("white");
  }

  &__button-group {
    justify-content: center;
  }
}

.filter {
  &-heading {
    @include font-style-stack(24px, 30px);
  }

  &-options-label {
    @include font-style-stack(19px, 25px, 300);
  }

  &-button {
    @include font-style-stack(19px, 25px, 300);
    display: block;
  }

  &-reset {
    @include font-style-stack(19px, 25px, 300);
    color: $gov-defra-color-websafe !important;
  }
}
.govuk-pagination {
  margin-top: 20px;
}
.govuk-pagination__item--current {
  background-color: #00703c;
}
.govuk-link:link {
  color: #00703c;
}
.govuk-link:visited {
  color: #00703c;
}
.govuk-pagination__item--current:hover {
  background-color: #00703c;
}

.govuk-button {
  &--map {
    @include font-style-stack(24px, 32px, 700);
    height: 45px;
    display: inline-flex;
    min-height: auto;
    justify-content: center;
    align-items: center;
  }
}

.map-view-block {
  width: 80%;
  height: 100vh;
}

.filter-view-block {
  width: 20%;
}

.defra-map {
  &-controls {
    position: absolute;
    width: 80%;
    z-index: 1;
    overflow: hidden;
    top: 0px;
    bottom: 0px;
    left: 0px;
    pointer-events: none;
    right: 0px;

    &__bottom {
      position: absolute;
      left: 10px;
      bottom: 10px;
      right: 10px;
      pointer-events: none;
    }

    &__bottom * {
      pointer-events: auto;
    }
  }

  &__exit {
    @include font-style-stack(24px, 32px, 300, normal, true);
    float: left;
    position: relative;
    margin: 10px 0px 0px 10px;
    border: 0;
    padding: 10px;
    width: 40px;
    cursor: pointer;
    background-color: govuk-colour("white");
    text-decoration: none;
    color: govuk-colour("black");
    pointer-events: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;

    svg {
      display: inline-block;
      margin-right: 15px;
      vertical-align: top;
    }

    span {
      vertical-align: top;
    }
  }

  &-reset {
    float: right;
    position: relative;
    border: 0;
    height: 50px;
    width: 50px;
    padding: 0;
    cursor: pointer;
    background-color: govuk-colour("white");
    color: govuk-colour("black");
    display: none;

    &:hover {
      background-color: govuk-colour("light-grey");
    }
  }

  &-zoom {
    display: none;

    &-in,
    &-out {
      display: flex;
      align-items: center;
      position: relative;
      border: 0;
      height: 50px;
      width: 50px;
      padding: 0;
      cursor: pointer;
      background-color: govuk-colour("white");
      color: govuk-colour("black");

      &:hover {
        background-color: govuk-colour("light-grey");
      }
    }
  }
}

@media (min-width: 40.0625em) {
  .defra-map-zoom {
    display: block;
    float: right;
    clear: right;
    width: 50px;
    height: auto;
    margin-top: 15px;
  }
}

@media (min-width: 52.1875em) {
  .defra-map {
    &__exit {
      width: auto;
      padding-right: 11px;
    }
  }
}

.govuk-checkboxes__input {
  width: 26px;
  height: 26px;
  margin-left: 2px;
  margin-top: 5px;
}

.defra-checkboxes {
  @include font-style-stack(16px, 20px, 300);
  &__label {
    display: flex;
    align-items: center;

    &::before {
      top: 5px;
      width: 28px;
      height: 28px;
    }

    &::after {
      top: 12px;
      left: 7px;
      width: 19px;
      border-width: 0 0 4px 4px;
      height: 10px;
    }
  }
}
