.search-result {
  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding-top: 20px;
  }

  &__heading {
    margin-bottom: 0;
    color: $govuk-text-colour;
    @include font-style-stack(19px, 30px);

    &--empty {
      font-size: 24px;
    }
  }

  &__parameter {
    display: flex;
    gap: 10px;

    &-label {
      color: $govuk-secondary-text-colour;
      @include font-style-stack(16px, 20px, 700, normal, true);
    }

    &-value {
      color: $govuk-secondary-text-colour;
      @include font-style-stack(16px, 20px, 300, normal, true);
    }
  }

  &__content {
    margin: 0;
    color: $govuk-text-colour;
    @include font-style-stack(16px, 20px, 300, normal, true);

    &--empty {
      @include font-style-stack(19px, 25px, 300, normal, true);
    }
  }

  &__button-group {
    margin-bottom: 25px;
  }

  &__button-group > .govuk-button {
    margin-bottom: 0;
  }
}

.option {
  &-container {
    display: grid;
    grid-template-columns: 0.9fr 1.4fr;
    gap: 10px;
  }

  &-group {
    margin-bottom: 20px;
  }

  &-block {
    @include font-style-stack(19px, 25px, 300, normal);
    min-width: auto;
    width: 160px;
  }

  &-label {
    @include font-style-stack(19px, 25px, 300, normal);
    margin-right: 10px;
    display: inline-block;
  }

  &-items {
    @include font-style-stack(19px, 25px, 300, normal);
    min-width: auto;
    width: 80px;
  }
}

#results-block {
  margin-top: 50px;
}

.data-container {
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: 30px;

  &__heading-l {
    @include font-style-stack(36px, 40px);
    color: govuk-colour("white");
  }

  &__body-l {
    @include font-style-stack(19px, 24px, 300);
    color: govuk-colour("white");
  }

  &__button-group {
    justify-content: center;
  }
}

.filter {
  &-heading {
    @include font-style-stack(24px, 30px);
  }

  &-options-label {
    @include font-style-stack(19px, 25px, 300);
  }

  &-button {
    @include font-style-stack(19px, 25px, 300);
    display: block;
  }

  &-reset {
    @include font-style-stack(19px, 25px, 300);
    color: $gov-defra-color-websafe !important;
  }
}
.govuk-pagination {
  margin-top: 20px;
}
.govuk-pagination__item--current {
  background-color: #00703c;
}
.govuk-link:link {
  color: #00703c;
}
.govuk-link:visited {
  color: #00703c;
}
.govuk-pagination__item--current:hover {
  background-color: #00703c;
}
