{% extends "layout/default.njk" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "partials/results_count/macro.njk" import resultsCount %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% block beforeContent %}
  {{ super() }}
  {% if nextLevel > 2 %}
  {% include "partials/guided_search_breadcrumb/template.njk" %}
  {% else %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: routes.homePage
      },
      {
        text: "Questionnaire search"
      }
    ]
  }) }}
  {% endif %}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    {% include "partials/results_count/template.njk" %}
    <form method="GET" id="{{formId}}" action="{% if nextLevel > 3 %} {{skipPath}} {% else %} {{guidedClassifierSearchPath}} {% endif %}" data-do-browser-storage>
     <input type="hidden" name="jry" value="{{journey}}" />
     <input type="hidden" name="level" value="{% if nextLevel > 3 %}3{% else %}{{ nextLevel }}{% endif %}" />
      <div class="govuk-grid-column-full govuk-!-padding-top-6">
        {% for classify  in classifierItems %}
          {% set checkboxItems = [] %}
          {% set legendClass = 'govuk-fieldset__legend--l' %}
          {% for item in classify.classifiers %}
            {% set _ = checkboxItems.push({value: item.code, html: govukDetails({summaryText: item.value, text: item.text}) }) %}
          {% endfor %}
          {% if checkboxItems.length > 0 %}
            {% set _ = checkboxItems.push({divider: "or" }) %}
            {% set _ = checkboxItems.push({value: classify.selectAll, text: "Select all", behaviour: "exclusive"}) %}
          {% endif %}
          {% if classify.sectionTitle.length > 0 %}
            {% set sectionTitle = classify.sectionTitle %}
          {% else %}
            {% set sectionTitle = 'Select a natural capital theme' %}
          {% endif %}

          {% if classify.sectionIntroduction.length > 0 %}
            {% set sectionIntro = classify.sectionIntroduction %}
          {% elif nextLevel > 3 %}
            {% set sectionIntro = '' %}
            {% set legendClass = 'govuk-fieldset__legend--m' %}
          {% else %}
            {% set sectionIntro = 'Select all that apply' %}
          {% endif %}
          {{ govukCheckboxes({
              name: "parent[]",
              idPrefix: sectionTitle,
              fieldset: {
                legend: {
                  text: sectionTitle,
                  isPageHeading: false,
                  classes: legendClass
                }
              },
              hint: {
                text: sectionIntro
              },
              items: checkboxItems
            }) }}
        {% endfor %}
        <div class="govuk-grid-row  govuk-!-margin-top-4 govuk-!-margin-bottom-6 geography-buttons">
          <div class="govuk-button-group govuk-grid-column-one-half">
          {{ govukButton({ text: "Skip", classes: "govuk-button--secondary govuk-!-margin-bottom-0", href: skipPath, attributes: {
            'data-do-storage-skip': ''
          } }) }}
          {{ govukButton({ text: "Next", attributes: {
            'data-to-disable': '',
            'data-next-question': ''
          } }) }}
          </div>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
