{% extends "layout/template.njk" %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "partials/data_questionnaire/macro.njk" import dateQuestionnaire %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: homePageUrl,
        attributes: {
          'data-do-storage-reset': ''
        }
      },
      {
        text: "Questionnaire search",
        href: "#"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <form method="POST" id="{{formId}}" action="{{guidedDateSearchPath}}" data-do-browser-storage>
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-m">
          When was the data or information collected?
        </h1>
        {{ dateQuestionnaire({ fieldLabel: 'From', fieldOptions: fromDate }) }}
        {{ dateQuestionnaire( {fieldLabel: 'To', fieldOptions: toDate }) }}
        <div class="govuk-button-group">
          {{ govukButton({ text: "Skip question", classes: "govuk-button--secondary", href: skipPath, attributes: {
            'data-do-storage-skip': ''
          } }) }}
          {{ govukButton({ text: "Next question", attributes: {
            'data-to-disable': ''
          } }) }}
        </div>
      </div>
    </form>
  </div>
{% endblock %}