{% extends "layout/template.njk" %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: homePageUrl
      },
      {
        text: "Questionnaire search",
        href: "#"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <form method="POST" action="/guided-search" />
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-m">
          When was the data or information collected?
        </h1>
        <h2 class="govuk-heading-m">
          From
        </h2>
        {{ govukDateInput(fromDate) }}
        <h2 class="govuk-heading-m">
          To
        </h2>
        {{ govukDateInput(toDate) }}
        {{ govukButton({
          text: "Show results"
        }) }}
      </div>
    </form>
  </div>
{% endblock %}