{% extends "govuk/template.njk" %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% set htmlClasses = "app-html-class" %}
{% set htmlLang = "en" %}
{% set bodyClasses = "app-body-class" %}x

{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block headIcons %}
  {{ super() }}
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ assetPath }}/css/application.css">
  <meta http-equiv="Cache-control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="0">
{% endblock %}

{% block header %}
  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id= {{gtmId}}"
height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->
  <header class="header-container">
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer'
            ? '&l=' + l
            : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f
          .parentNode
          .insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', '{{gtmId}}');
    </script>
    <!-- End Google Tag Manager -->

    <!--Will be removed once Defra GA accounts been created -->

    <!-- Google tag (gtag.js) -->
    {# <script async src="https://www.googletagmanager.com/gtag/js?id=G-0FDPPSVB0H"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-0FDPPSVB0H');

  gtag('event', 'screen_view', {
        'app_name': 'myAppName',
        'screen_name': 'Home sashdjk'
      });

</script> #}

    <div class="header-div-container header-main">
      <div class="site-width-container">
        <div class="header-logo-container"><img alt="Department for Environment Food &amp; Rural Affairs Logo" src="{{ assetPath }}/images/defra_logo.svg" width="52" height="42" decoding="async" data-nimg="1" class="defra-logo" loading="lazy" style="color:transparent">
          <a target="_blank" class="header-logo-link logo-link" href="https://www.gov.uk/government/organisations/department-for-environment-food-rural-affairs">
            <span class="defra-logo-text">Department for Environment <br> Food &amp; Rural Affairs</span></a>
          <span class="govuk-header__service-name">{{serviceName}}</span></div>
      </div>
    </div>
  </header>
{% endblock %}

{% set mainClasses = "app-main-class" %}

{% block main %}
  {{ super() }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "#",
          text: "Help"
        },
        {
          href: "#",
          text: "Privacy"
        },
        {
          href: "#",
          text: "Cookies"
        },
        {
          href: "#",
          text: "Accessibility statement"
        }
      ]
    }
  }) }}
  <div id="overlay" class="overlay"></div>
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script type="module" src="{{ assetPath }}/all.js"></script>
  <script type="module">
    import {initAll} from '{{ assetPath }}/all.js'
    initAll()
  </script>
  <script>
    const appInsightsConnString = "{{ appInsightsConnectionString }}";
  </script>
  <script type="text/javascript" src="{{ assetPath }}/scripts/appinsights.js"></script>
  <script type="module" src="{{ assetPath }}/scripts/customScripts.js"></script>
{% endblock %}