{% extends "govuk/template.njk" %}

{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}

{% set htmlClasses = "app-html-class" %}
{% set htmlLang = "en" %}
{% set bodyClasses = "app-body-class" %}x

{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block headIcons %}
  {{ super() }}
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ assetPath }}/css/application.css">
  <meta http-equiv="Cache-control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="0">
{% endblock %}

{% set cookieHtml %}
<p class="govuk-body">We use some essential cookies to make this service work.</p>
<p class="govuk-body">We'd like to set additional cookies so we can remember your settings, understand how people use the service and make improvements</p>
{% endset %}

{% set acceptHtml %}
<p class="govuk-body">You've accepted additional cookies. You can <a class="govuk-link help-link" href="{{routes.cookiePolicy}}">change your cookie settings</a> at any time.</p>
{% endset %}

{% set rejectHtml %}
<p class="govuk-body">You've rejected additional cookies. You can <a class="govuk-link help-link" href="{{routes.cookiePolicy}}">change your cookie settings</a> at any time.</p>
{% endset %}

{% set appVersionHtml %}
<p>Version: v{{appVersion}}</p>
{% endset %}

{% block header %}
  <script>
    var gtmIdValue = "{{gtmId}}";
    var keyboardFiltersBaseUrlValue = "{{keyboardFiltersBaseUrl}}"
  </script>
  <script type="module" src="{{ assetPath }}/scripts/cookieScript.js"></script>
  <header class="header-container">

    <!--Will be removed once Defra GA accounts been created -->

    <!-- Google tag (gtag.js) -->
    {# <script async src="https://www.googletagmanager.com/gtag/js?id=G-0FDPPSVB0H"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-0FDPPSVB0H');

  gtag('event', 'screen_view', {
        'app_name': 'myAppName',
        'screen_name': 'Home sashdjk'
      });

</script> #}

    {{ govukHeader({
      homepageUrl: "https://www.gov.uk/",
      serviceName: serviceName,
      serviceUrl: routes.homePage,
      useTudorCrown: true
    }) }}

    <div class="govuk-grid-col login">
      {% if user %}
        <p class="govuk-body-m">Welcome, {{ user.email }}</p>
        <a href={{logOutPath}} class="govuk-link govuk-body-m">Logout</a>
      {% else %}
        <p class="govuk-body-m">Welcome, Guest</p>
        <a href="" class="govuk-link govuk-body-m">Login</a>
      {% endif %}
    </div>
  </header>
{% endblock %}

{% set mainClasses = "app-main-class" %}

{% block main %}
  {{ super() }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: { text: "Beta" },
    html: 'This is a new service - your <a class="govuk-link help-link" rel="noreferrer noopener" target="_blank" href="https://defragroup.eu.qualtrics.com/jfe/form/SV_02KhhVirzVmY0QK">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}

{% block bodyStart %}
  {{ govukCookieBanner({
    ariaLabel: "Cookies on the find natural capital data service",
    attributes: { id: "cookie_banner" },
    messages: [
      {
        headingText: "Cookies on the find natural capital data service",
        html: cookieHtml,
        hidden: true,
        actions: [
          {
            text: "Accept analytics cookies",
            type: "button",
            attributes: { id: "accept_button" }
          },
          {
            text: "Reject analytics cookies",
            type: "button",
            attributes: { id: "reject_button" }
          },
          {
            text: "View cookies",
            href: routes.cookiePolicy,
            classes: "help-link"
          }
        ],
        attributes: { id: "cookie_block" }
      },
      {
        html: acceptHtml,
        role: "alert",
        hidden: true,
        actions: [
          {
            text: "Hide cookie message",
            type: "button",
            classes: "hide_button"
          }
        ],
        attributes: { id: "accept_block" }
      },
      {
        html: rejectHtml,
        role: "alert",
        hidden: true,
        actions: [
          {
            text: "Hide cookie message",
            type: "button",
            classes: "hide_button"
          }
        ],
        attributes: { id: "reject_block" }
      }
    ]
  }) }}
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: routes.help,
          text: "Help"
        },
        {
          href: routes.privacyPolicy,
          text: "Privacy"
        },
        {
          href: routes.cookiePolicy,
          text: "Cookies"
        },
        {
          href: routes.accessibilityStatement,
          text: "Accessibility statement"
        },
        {
          href: routes.termsAndConditions,
          text: "Terms and conditions"
        }
      ],
      html: appVersionHtml
    }
  }) }}
  <div id="overlay" class="overlay"></div>
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script type="module" src="{{ assetPath }}/all.js"></script>
  <script type="module">
    import {initAll} from '{{ assetPath }}/all.js'
    initAll()
  </script>
  <script>
    const appInsightsConnString = "{{ appInsightsConnectionString }}";
  </script>
  <script type="text/javascript" src="{{ assetPath }}/scripts/appinsights.js"></script>
  <script type="module" src="{{ assetPath }}/scripts/customScripts.js"></script>
{% endblock %}
