@charset "UTF-8";

.video-container {
  max-width: 500px;
  margin: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.video-container iframe {
  width: 60%;
  height: 250px;
}

.video-caption {
  text-align: left;
  font-size: 0.9rem;
  color: #555;
  margin-top: 8px;
  margin-bottom: 18px;
}

@media (max-width: 768px) {
  .video-container {
    max-width: 100%;
  }

  .video-container iframe {
    width: 100%;
    height: 200px;
  }
}

.landingPage__partnersLogo-wrapper {
  display: flex;
  align-items: stretch;
  gap: 24px;
}

.landingPage__partnersLogo-wrapper .landingPage__partnersLogo-rightsection {
  flex: 0 0 33%;
  max-width: 342px;
  padding: 0;
  margin: 0;
  line-height: 0;
  display: flex;
  height: 228px;
}

.landingPage__partnersLogo-leftsection {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.case-study-image {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
  padding: 0;
  object-fit: contain;
}

.case-study-description {
  display: -webkit-box;
  -webkit-line-clamp: 8;
  line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.landingPage__partnersLogo-leftsection p strong {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .landingPage__partnersLogo-wrapper {
    flex-direction: column;
  }

  .landingPage__partnersLogo-wrapper .landingPage__partnersLogo-rightsection {
    max-width: 100%;
    height: auto;
  }

  .case-study-image {
    height: auto;
    aspect-ratio: 3 / 2;
    object-fit: contain;
  }
}

.landingPage .educational-copy-container__heading-m {
  border-top: 2px solid #008938;
}

.landingPage p.first-desc {
  margin-top: -25px;
}

.landingPage p.cat-video-capt {
  margin-top: 15px;
}

.landingPage ul li.cat-dts-li {
  padding-top: 8px;
}

.landingPage .cate-featured-datasets a.govuk-link {
  color: #0b0c0c;
  align-items: center;
  display: inline-flex;
  gap: 5px;
}

.landingPage .cate-featured-datasets p {
  margin-bottom: 5px;
}

.landingPage p.cate-pby {
  font-size: 16px;
}

.landingPage hr {
  border-top: 2px solid #b1b4b6;
}