.tree ul {
    list-style: none;
    margin: 0em 2.0em;
    position: relative;
    padding: 0.4em; 
  }    
  .tree .govuk-list-parent li::before,
  .tree .govuk-list-parent li div:first-child::before {
    content: "";
    position: absolute;
    top: 15px;
    border-left: 2px solid #686767;
    height: calc(100%);
  }

  .tree .govuk-list-parent li:first-child::before, 
  .tree .govuk-list-child li:last-child::before {
    height: calc(0%);
  } 

  .tree .govuk-list-child li::before, 
  .tree .govuk-list-child li div:last-child::before,
  .tree .govuk-list-child li:first-child div::before  {
    content: "";
    position: absolute;
    top: -10px;
    border-left: 2px solid #686767;
    height: calc(100% - 0px);
  }

  .tree .govuk-list-child li:first-child div::before {
    height: calc(100%);
  }
  
  .tree li {
    position: relative;
    display: flex;
    gap: .5em;
    flex-direction: column;
  }

  .list-item{
    display: flex;
    align-items: baseline;
    gap: .3em;
    position: relative;
  }

  .tree .govuk-list-parent li {
    position: relative; 
  }

  .govuk-list-parent > li {
    display: flex;
    flex-direction: column-reverse;
  }
  
  .section-title {
    font-weight: bold;
    margin: 10px 0 12px 23px;
    background:#fff;
    position:relative;
  } 

  .lineageContainer {
    display: flex;
    align-items: flex-start;
    gap: 2px; 
  }
  
  @media (max-width: 768px) {
    .lineageContainer {
      flex-direction: column;
    }
  }

.tree-tab-content-label {
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    color: #000;
    margin: 0px;
}
