.tree ul {
  list-style: none;
  margin: 0em 2.5em;
  position: relative;
  padding: 0em;
  overflow: hidden;
}


.tree .govuk-list-parent li:first-child::before,
.tree .govuk-list-child li:last-child::before {
  height: calc(0%);
}


.tree .govuk-list-parent li div::before {
  content: "";
  position: absolute;
  border-left: 2px solid #777575;
  height: calc(100%);
  margin-top: .5em;
}

.tree .govuk-list-parent li div::after {
  content: "";
  position: absolute;
  border-bottom: 2px solid #777575;
  top: 0%;
  width: 25px;
  left: 0;
  margin-top: .5em;
}

.tree .govuk-list-child li div::before {
  content: "";
  position: absolute;
  border-left: 2px solid #777575;
  height: calc(100%);
  bottom: 40%;
}

.tree .govuk-list-child li div::after {
  content: "";
  position: absolute;
  border-bottom: 2px solid #777575;
  bottom: 40%;
  width: 25px;
  left: 0;
}


.tree li {
  position: relative;
  display: flex;
  flex-direction: column;

}

.list-item {
  display: flex;
  align-items: baseline;
  position: relative;
  padding-bottom: .5em;
}

.govuk-list-parent>li {
  flex-direction: column-reverse;
}

.section-title {
  margin: .5em .5em;
  background: #fff;
  position: relative;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
}

.lineageContainer {
  display: flex;
  align-items: flex-start;
  gap: 2px;
}

.tree-tab-content-label {
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  color: #000;
  margin: 0px;
  padding-left: .5em;
}

.lineageContainer .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.horizontal-line {
  width: 25px;
  min-width: 25px;
}

@media (max-width: 768px) {
  .lineageContainer {
    flex-direction: column;
  }
}