{% extends "layout/default.njk" %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: routes.homePage,
        attributes: {
          'data-do-storage-reset': ''
        }
      },
      {
        text: "Privacy"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full ncea-static-page">
        <h1 class="govuk-heading-xl">Privacy policy</h1>
        <p class="govuk-body-m">{{serviceName}}/services.gov.uk is provided by the <a href="https://www.gov.uk/government/organisations/government-digital-service" rel="noreferrer noopener" target="_blank" class="govuk-link help-link">Government Digital Service</a> (GDS), part of the Cabinet Office.Defra is the data controller for this service.</p>
        <p class="govuk-body-m">If you follow a link to a service provided by another government department, agency or local authority, that organisation will: </p>
        <ul>
            <li class="govuk-body-m ncea-static-page-line-item">be the data controller</li>
            <li class="govuk-body-m ncea-static-page-line-item">be responsible for processing any data you share with them</li>
            <li class="govuk-body-m ncea-static-page-line-item">publish and manage their own privacy notice with details of how to contact them</li>
        </ul>
        <p class="govuk-body-m">A data controller determines how and why personal data is processed. For more information, read Defra’s entry in the <a href="https://www.gov.uk/government/organisations/department-for-environment-food-rural-affairs/about/personal-information-charter" rel="noreferrer noopener" target="_blank" class="govuk-link help-link">Data Protection Public Register.</a></p>
        <h1 class="govuk-heading-m">What data we collect</h1>
        <p class="govuk-body-m">The personal data we collect from you includes:</p>
        <ul>
            <li class="govuk-body-m ncea-static-page-line-item">questions, queries or feedback you leave, including your email address if you contact GOV.UK</li>
            <li class="govuk-body-m ncea-static-page-line-item">your Internet Protocol (IP) address, and details of which version of <a href="https://www.gov.uk/help/browsers" rel="noreferrer noopener" target="_blank" class="govuk-link help-link">web browser</a> you used </li>
            <li class="govuk-body-m ncea-static-page-line-item">information on how you use the site,<a href="https://www.gov.uk/help/cookies" rel="noreferrer noopener" target="_blank" class="govuk-link help-link"> using cookies</a> and page tagging techniques </li>
        </ul>
        <p class="govuk-body-m">Where you provide your consent, we use <a href="https://support.google.com/analytics/topic/2919631" rel="noreferrer noopener" target="_blank" class="govuk-link help-link">Google Analytics</a> cookies.</p>
        <p class="govuk-body-m">Google Analytics processes information about:</p>
        <ul>
            <li class="govuk-body-m ncea-static-page-line-item">the pages you visit on GOV.UK</li>
            <li class="govuk-body-m ncea-static-page-line-item">how long you spend on each GOV.UK page</li>
            <li class="govuk-body-m ncea-static-page-line-item">how you got to the site</li>
            <li class="govuk-body-m ncea-static-page-line-item">what you click on while you’re visiting the site</li>
        </ul>
        <p class="govuk-body-m">We also receive the same information from other government digital services./p>
        <p class="govuk-body-m">We make sure you cannot be directly identified by Google Analytics data. We do this by using <a href="https://support.google.com/analytics/answer/2763052" rel="noreferrer noopener" target="_blank" class="govuk-link help-link">Google Analytics’ IP address anonymisation</a> feature and by removing any other personal data from the titles or URLs of the pages you visit.</p>
        <p class="govuk-body-m">We will not combine analytics information with other data sets in a way that would directly identify who you are.<a href="https://www.gov.uk/help/cookie-details" rel="noreferrer noopener" target="_blank" class="govuk-link help-link">Find out more about how we use Google Analytics and other cookies on GOV.UK.</a></p>
        <h1 class="govuk-heading-m">Why we need your data</h1>
        <p class="govuk-body-m">We collect your personal data in order to:</p>
        <ul>
            <li class="govuk-body-m ncea-static-page-line-item">gather feedback to improve our services</li>
            <li class="govuk-body-m ncea-static-page-line-item">respond to any feedback you send us, if you’ve asked us to</li>
            <li class="govuk-body-m ncea-static-page-line-item">send email alerts to users who request them</li>
            <li class="govuk-body-m ncea-static-page-line-item">monitor use of the site to identify security threats</li>
            <li class="govuk-body-m ncea-static-page-line-item">monitor use of the site to identify security threats</li>
            <li class="govuk-body-m ncea-static-page-line-item">monitor the performance of the site to identify inefficiencies and JavaScript errors</li>
        </ul>
        <p class="govuk-body-m">We use the information we collect through Google Analytics to see how you use GOV.UK and to see how well the site performs on your device.</p>
        <p class="govuk-body-m">We do this to help:</p>
        <ul>
            <li class="govuk-body-m ncea-static-page-line-item">make sure GOV.UK is meeting the needs of its users</li>
            <li class="govuk-body-m ncea-static-page-line-item">make improvements, for example <a href="https://insidegovuk.blog.gov.uk/2015/03/26/new-tool-to-see-trending-searches/" rel="noreferrer noopener" target="_blank" class="govuk-link help-link">improving site search</a></li>
            <li class="govuk-body-m ncea-static-page-line-item">make performance improvements, for example improving page load time and data usage</li>
        </ul>
        <p class="govuk-body-m">We combine Google Analytics information with similar data from other government digital services to help understand and improve user journeys within GOV.UK and other government digital services.</p>
        <h1 class="govuk-heading-m">Our legal basis for processing your data</h1>
        <p class="govuk-body-m">The legal basis for processing personal data in relation to site security is our legitimate interests, and the legitimate interests of our users, in ensuring the security and integrity of GOV.UK.</p>
        <p class="govuk-body-m">The legal basis for processing data collected with Google Analytics on GOV.UK and other government digital services is your consent.</p>
        <p class="govuk-body-m">The legal basis for processing all other personal data is that it’s necessary:</p>
        <ul>
            <li class="govuk-body-m ncea-static-page-line-item">to perform a task in the public interest</li>
            <li class="govuk-body-m ncea-static-page-line-item">in the exercise of our functions as a government department</li>
        </ul>
        <h1 class="govuk-heading-m">How long we keep your data</h1>
        <p class="govuk-body-m">We will only retain your personal data for as long as it is required by law. In general, this means that we will only hold your personal data for the length of time you use this service, or up to 12 months after you leave the service whereby all information will then be deleted.</p>
        <h1 class="govuk-heading-m">Children’s privacy protection</h1>
        <p class="govuk-body-m">Our services are not designed for, or intentionally targeted at, children 13 years of age or younger. We do not intentionally collect or maintain data about anyone under the age of 13.</p>
        <h1 class="govuk-heading-m">Where your data is processed and stored</h1>
        <p class="govuk-body-m">We will only retain your personal data for as long as it is required by law. In general, this means that we will only hold your personal data for the length of time you use this service, or up to 12 months after you leave the service whereby all information will then be deleted.</p>
        <h1 class="govuk-heading-m">Where your data is processed and stored</h1>
        <p class="govuk-body-m">We design, build and run our systems to make sure that your data is as safe as possible at all stages, both while it’s processed and when it’s stored.</p>
        <p class="govuk-body-m">All personal data is stored in the <a href="https://www.gov.uk/eu-eea" rel="noreferrer noopener" target="_blank" class="govuk-link help-link">European Economic Area</a>(EEA). Data collected by Google Analytics may be transferred outside the EEA for processing.</p>
        <p class="govuk-body-m">Where data processing happens in the US, suppliers need to meet the certification standards set out in the <a href="https://www.gov.uk/government/publications/uk-us-data-bridge-supporting-documents/uk-us-data-bridge-explainer" rel="noreferrer noopener" target="_blank" class="govuk-link help-link">UK-US data bridge</a> agreement. This facilitates flows of personal data to certified US companies that have opted in to the EU-US Data Privacy Framework.</p>
        <h1 class="govuk-heading-m">How we protect your data and keep it secure</h1>
        <p class="govuk-body-m">We are committed to doing all that we can to keep your data secure. We have set up systems and processes to prevent unauthorised access or disclosure of your data - for example, we protect your data using varying levels of encryption. We also make sure that any third parties that we deal with keep all personal data they process on our behalf secure.</p>
        <h1 class="govuk-heading-m">What are your rights</h1>
        <p class="govuk-body-m">You have the right to request:</p>
        <ul>
            <li class="govuk-body-m ncea-static-page-line-item">information about how your personal data is processed</li>
            <li class="govuk-body-m ncea-static-page-line-item">a copy of that personal data</li>
            <li class="govuk-body-m ncea-static-page-line-item">that anything inaccurate in your personal data is corrected immediately</li>
        </ul>
        <p class="govuk-body-m">You can also:</p>
        <ul>
            <li class="govuk-body-m ncea-static-page-line-item">raise an objection about how your personal data is processed</li>
            <li class="govuk-body-m ncea-static-page-line-item">request that your personal data is erased if there is no longer a justification for it</li>
            <li class="govuk-body-m ncea-static-page-line-item">ask that the processing of your personal data is restricted in certain circumstances</li>
        </ul>
        <p class="govuk-body-m">If you have any of these requests, get in contact with our Privacy Team.</p>
        <h1 class="govuk-heading-m">Links to other websites</h1>
        <p class="govuk-body-m">GOV.UK contains links to other websites.</p>
        <p class="govuk-body-m">This privacy notice only applies to GOV.UK, and does not cover other government services and transactions that we link to.</p>
        <h1 class="govuk-heading-m">Following a link to another website</h1>
        <p class="govuk-body-m">If you go to another website from this one, read the privacy policy on that website to find out what it does with your information.</p>
        <h1 class="govuk-heading-m">Following a link to GOV.UK from another website</h1>
        <p class="govuk-body-m">If you come to GOV.UK from another website, we may receive personal information from the other website. You should read the privacy policy of the website you came from to find out more about this.</p>
        <h1 class="govuk-heading-m">Contact us or make a complaint</h1>
        <p class="govuk-body-m">Contact the Privacy Team if you:</p>
        <ul>
            <li class="govuk-body-m ncea-static-page-line-item">have a question about anything in this privacy notice</li>
            <li class="govuk-body-m ncea-static-page-line-item">think that your personal data has been misused or mishandled</li>
        </ul>
        <h1 class="govuk-heading-s ncea-static-page-line-item">Privacy Team</h1>
        <p class="govuk-body-m"><a class="govuk-link help-link" href="mailto: data.protection@defra.gov.uk">data.protection@defra.gov.uk</a></p>
        <p class="govuk-body-m">You can also contact our Data Protection Officer (DPO):</p>
        <p class="govuk-body-m ncea-static-page-line-item">Defra Group Data Protection Officer</p>
        <p class="govuk-body-m ncea-static-page-line-item">Department for Environment, Food and Rural Affairs  </p>
        <p class="govuk-body-m ncea-static-page-line-item">Seacole Building</p>
        <p class="govuk-body-m ncea-static-page-line-item">2 Marsham Street</p>
        <p class="govuk-body-m ncea-static-page-line-item">London</p>
        <p class="govuk-body-m">SW1P 4DF</p>
        <p class="govuk-body-m">The DPO provides independent advice and monitoring of our use of personal information.You can also make a complaint to the Information Commissioner, who is an independent regulator.</p>
        <h1 class="govuk-heading-s ncea-static-page-line-item">Information Commissioner </h1>
        <a class="govuk-link help-link" href="mailto: icocasework@ico.org.uk">icocasework@ico.org.uk</a>
        <p class="govuk-body-m">Telephone: 0303 123 1113</p>
        <p class="govuk-body-m ncea-static-page-line-item">Textphone: 01625 545860</p>
        <p class="govuk-body-m ncea-static-page-line-item">Monday to Friday, 9am to 4:30pm</p>
        <p class="govuk-body-m"><a href="https://www.gov.uk/call-charges" rel="noreferrer noopener" target="_blank" class="govuk-link help-link">Find out about call charges</a></p>
        <p class="govuk-body-m ncea-static-page-line-item">Information Commissioner's Office</p>
        <p class="govuk-body-m ncea-static-page-line-item">Wycliffe House</p>
        <p class="govuk-body-m ncea-static-page-line-item">Water Lane</p>
        <p class="govuk-body-m ncea-static-page-line-item">Wilmslow</p>
        <p class="govuk-body-m">Cheshire SK9 5AF</p>
        <h1 class="govuk-heading-m">Changes to this policy</h1>
        <p class="govuk-body-m">We may change this privacy policy. In that case, the ‘last updated’ date at the bottom of this page will also change. Any changes to this privacy policy will apply to you and your data immediately.If these changes affect how your personal data is processed, GDS will take reasonable steps to let you know.</p>
        <p class="govuk-body-m">Last updated 07 May 2024</p>
    </div>
</div>
{% endblock %}