{% extends "layout/default.njk" %}
{% from "partials/quick_search/macro.njk" import quickSearch %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% block content %}
  <header class="full-width-banner" role="banner">
    <div class="banner-container">
      <img alt="Department for Environment Food &amp; Rural Affairs Logo" src="{{ assetPath }}/images/NCEA-logo-landscape.png" class="banner-container__ncea-logo">
        <h1 class="govuk-heading-xl banner-container__heading-xl">Find natural capital data</h1>
        <span class="govuk-caption-l banner-container__caption-l">Use this service to search for data and information about the
          environment and ecosystems in the England.</span>
        <span class="govuk-caption-l banner-container__caption-l">This service supports the use of natural capital approaches in evidence and making decisions.</span>
      </div>
    </header>
    {{ quickSearch({
    searchPath: routes.searchResults,
    formId: quickSearchFID,
    isResultPage: false,
    searchInputError : searchInputError
  }) }}
    <div class=" govuk-grid-column-full  govuk-grid-row ">
      <h2 class="govuk-heading-m educational-copy-container__heading-m">
        Natural capital
      </h2>
      <p class="govuk-body govuk-!-margin-bottom-6">
        Natural capital is the parts of our natural environment that hold value for people, giving environmental, economic,
        societal and cultural benefits. It is nature’s stock of living and non-living resources – including ecosystems, species,
        freshwater, land, soils, minerals, air, and ocean – that provide flows of environmental (ecosystem) services.
      </p>
    </div>
    <div class="govuk-grid-column-full  govuk-grid-row">
      <h2 class="govuk-heading-m govuk-!-margin-bottom-6">
        Category search
      </h2>
      <p class="govuk-body govuk-!-margin-bottom-6">
        All natural capital resources in this service are classified into broad themes and specific categories for better
        clarity and understanding.
      </p>
      {# disabling it enable once glossary link is available #}
      {# <p class="govuk-body govuk-!-margin-bottom-6">
        <a href="#" target="_blank" class='help-link'>Natural capital classification glossary</a>
      </p> #}
      <p class="govuk-body govuk-!-margin-bottom-6">
        Use these natural capital theme and classification filters to help narrow down your search
      </p>
    </div>
    {{ govukButton({
    id: 'guided-search',
    name: 'guided-search',
    text: "Start",
    isStartButton: true,
    href: routes.guidedSearch+'?level=1',
    attributes: {
      'data-do-quick-search': false
    }
  }) }}
    <article class="govuk-grid-row" role="article">
      <div class="govuk-grid-column-full educational-copy-container">
        <h1 class="govuk-heading-m govuk-\!-static-margin-0 educational-copy-container__heading-m">Data types and scope</h1>
        <p class="govuk-body govuk-!-margin-bottom-6">Use this service to find and access records and services such as:</p>
        <ul class='govuk-!-margin-bottom-6'>
          <li class="govuk-body-m ncea-static-page-line-item">analysis ready data</li>
          <li class="govuk-body-m ncea-static-page-line-item">reports and publications</li>
          <li class="govuk-body-m ncea-static-page-line-item">maps</li>
          <li class="govuk-body-m ncea-static-page-line-item">geospatial web services</li>
        </ul>
        <p class="govuk-body govuk-!-margin-bottom-6">
          The data discoverable here is primarily from England and inshore waters, although may extend beyond these areas.</p>
        <h1 class="govuk-heading-m govuk-\!-static-margin-0 educational-copy-container__heading-m">NCEA and natural capital approach</h1>
        <p class="govuk-body govuk-!-margin-bottom-6">The Department for Environment, Food and Rural Affairs’(Defra’s)
          <a class='govuk-link' href="{{routes.homePage}}/about" target="_blank">
          Natural Capital and Ecosystem Assessment (NCEA)</a> is delivering a nationwide survey of England’s land, freshwater assets and coast; mapping the location,
          extent and condition of our ecosystems.​ Natural capital evidence and approaches help us recognise and communicate the value of natural assets to people,
          integrating this into decision-making. This prevents undervaluation and guides better management, protection, and enhancement of our natural
          assets and the services they provide.​</p>
        <h1 class="govuk-heading-m govuk-\!-static-margin-0 govuk-!-margin-bottom-6">NCEA’s natural capital
          approach</h1>
        <p class="govuk-body govuk-!-margin-bottom-6">Taking a natural capital approach is about incorporating the wider benefits of the environment
          into policy and decision making.
        </p>
        <p class="govuk-body ">Natural capital evidence and approaches help us to account for and articulate the different ways
          our natural assets hold value for people (be that cultural, social, economic or environmental value) and provide a
          framework for incorporating this into decision making. This reduces the risk of undervaluing our natural environment and
          helps to inform how we can better manage, protect, and enhance our natural assets and the services they provide.</p>
      </div>
    </article>
  {% endblock %}
