{% from "macros/icons/icon.njk" import icon %}

{% macro nceaContribution(assetPath, contribution) %}
  <div class="contribution">
    <img width="100px" height="auto" src="{{ assetPath }}/images/NCEA_logo.png" title="NCEA logo" />
    <p class='search-result__content'>
        This work was {{contribution}} in part by Defra through the National Capital Ecosystem
        Assessment programme (NCEA).
    </p>
    </div>
{% endmacro %}