{% from "macros/common-view-tree.njk" import renderCommonTree %}

{% macro renderTree(records, nestedKey, homePage) %} 

  {{ renderCommonTree(records, nestedKey, homePage, level = 1) }}

{% endmacro %}