{% extends "layout/template.njk" %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            <p>&nbsp;</p>
        </div>
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-m">
                Error 404 page not found
            </h1>
            <p class="govuk-caption-m govuk-!-font-size-14">
                If you typed the web address, check it is correct.
            </P>
            <p class="govuk-caption-m govuk-!-font-size-14">
                If you pasted the web address, check you copied the entire address.
            </P>
            <p class="govuk-caption-m govuk-!-font-size-14">
                If the web address is correct or you selected a link or button, you can <a href="#">contact us</a> to receive support.
            </P>
        </div>
    </div>
{% endblock %}