{% from "govuk/components/input/macro.njk" import govukInput %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full quick_search-container">
    <h1 class="govuk-heading-m quick_search-container__heading-m govuk-!-margin-top-2">
        Quick search
    </h1>
    {% if not params.isResultPage %}
      <span class="govuk-caption-m quick_search-container__caption-m">You can search by keyword, theme, title or project code, for example: “peat”, “community supported fisheries”, “AE0101”.</span>
    {% endif %}
    <div class="search-block" data-module="search">
      <form action="{{params.searchPath}}" id="{{params.formId}}" data-do-browser-storage method="post" role="search" class="search-block__form govuk-!-margin-top-6">
        {{ govukInput({
          id: 'search_term',
          name: 'search_term',
          label: {
            text: 'Search',
            classes: 'search-block__label'
          },
          suffix: {
            html: '<button type="submit" class="search-block__button" data-do-quick-search="true">Search</button>'
          },
          classes: 'govuk-input govuk-!-margin-bottom-0 search-block__input',
          spellcheck: false,
          autocomplete: 'off',
          value: params.searchTerm,
          attributes: {
            'aria-controls': 'search-results',
            'placeholder': 'Search',
            'altName': 'q'
          },
          errorMessage: params.searchInputError,
          formGroup: {
            classes: 'search-result-input-spacing'
          }
        }) }}
        <input type="hidden" name="pageName" value="{% if not params.isResultPage %}home{% else %}results{% endif %}">
      </form>
    </div>
  </div>
</div>
