{%- from "govuk/components/tag/macro.njk" import govukTag -%}

{% if params.options and params.hasData %}
  <div class='tab-content-container'>
    {% for option in params.options %}
      {% if option.label and option.label !== 'map' %}
        <div class='tab-content-row'>
          <h2 class='tab-content-label'>{{ option.label | safe }}</h2>
          {% if option.displayValue %}
            <span class='tab-content-value'>
              {{option.displayValue | safe}}
            </span>
          {% else %}
            {{govukTag({
              text: "NOT PROVIDED",
              classes: "govuk-tag--grey tab-content-value__not-provided"
            })}}
          {% endif %}
        </div>
      {% endif %}
      {% if option.label and option.label === 'map' and option.displayValue %}
        <div id="coordinate-map" class="detail-map" style="height: 335px;"></div>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}