<h2 class="cate-h2 govuk-heading-m govuk-\!-static-margin-0 educational-copy-container__heading-m">Case studies</h2>
<hr>
<section class="landingPage__partnersLogo first_case_study">
  <div class="landingPage__partnersLogo-wrapper">
    <!-- Image section -->
    <div class="landingPage__partnersLogo-rightsection">
      <img
        src="{{ introText.catDetailimageUrlCaseStudy1 }}"
        alt="Applying a natural capital approach"
        title="Applying a natural capital approach"
        class="case-study-image"
      />
    </div>
    <!-- Text section -->
    <div class="landingPage__partnersLogo-leftsection">
      <p class="govuk-body govuk-!-margin-bottom-2">
        <strong>
          Case Study1: Applying a natural capital approach to Fisheries Management Plan
        </strong>
      </p>
      <p class="govuk-body govuk-!-margin-bottom-6">
        MMO and Defra are developing England’s first natural capital-based Fisheries
        Management Plan (FMP) for pelagic fisheries in the south-west and Celtic Sea.
        This is using the best practice guidance for taking a natural capital approach
        that MMO developed through mNCEA. This includes taking a partnership approach
        to co-develop the plan, with industry, policy makers, regulators, eNGOs and
        other stakeholders who can influence, or are impacted by fisheries management,
        in the area.
      </p>
    </div>
  </div>
</section>

<hr>
<section class="landingPage__partnersLogo sec_study">
  <div class="landingPage__partnersLogo-wrapper">
    <!-- Image section -->
    <div class="landingPage__partnersLogo-rightsection">
      <img src="{{ assetPath }}/images/marine_category_deatil_page_casestudy2.png" alt="Arts-based approaches" title="Arts-based approaches" class="case-study-image">
    </div>
    <!-- Text section -->
    <div class="landingPage__partnersLogo-leftsection">
      <p class="govuk-body govuk-!-margin-bottom-2">
        <strong>
          Case Study2: Arts-based approaches to assess Cultural Ecosystem Services in the East Marine Plan area
        </strong>
      </p>
      <p class="govuk-body govuk-!-margin-bottom-6">
        As part of the Cefas Seascapes project, we explored the use of arts-based approaches to capture Cultural Ecosystem Services from marine and coastal environments. We held four workshops in Lowestoft and Great Yarmouth, engaging participants in creating photomontages that reflected their personal connections to the marine and coastal environment. The process resulted in the production of a diverse range of artwork and interviews that captured participants thoughts and a narrative about what they had portrayed in their art works. It provided a richer understanding of the values of Cultural Ecosystem Services than traditional survey methods alone. This kind of evidence can complement traditional economic methods to inform more holistic trade-off analysis and decision making that takes into account what people value.
      </p>
    </div>
  </div>
</section>

<hr>
<section class="landingPage__partnersLogo third_case_study">
  <div class="landingPage__partnersLogo-wrapper">
    <!-- Image section -->
    <div class="landingPage__partnersLogo-rightsection">
      <img src="{{ assetPath }}/images/marine_category_deatil_page_casestudy3.jpg" alt="Citizen science seabird monitoring programme" title="Citizen science seabird monitoring programme" class="case-study-image" >
    </div>
    <!-- Text section -->
    <div class="landingPage__partnersLogo-leftsection">
      <p class="govuk-body govuk-!-margin-bottom-2">
        <strong>
          Case Study3: Citizen science seabird monitoring programme
        </strong>
      </p>
      <p class="govuk-body govuk-!-margin-bottom-6">
        Volunteer Seabirds at Sea (VSAS) is a citizen science initiative which recruits and trains volunteers to collect high quality seabirds at-sea data from vessels of opportunity around the UK. JNCC’s Marine Birds project expanded the Volunteer Seabirds at Sea (VSAS) monitoring programme into England, building new citizen science volunteer networks and utilising existing ferry routes to capture high quality marine bird data.
      </p>
    </div>
  </div>
</section>