<h2 class="cate-h2 govuk-heading-m govuk\!-static-margin-0 educational-copy-container__heading-m">Case studies</h2>

<section class="landingPage__partnersLogo case_study">
  <div class="landingPage__partnersLogo-wrapper">
    <!-- Image section -->
    <div class="landingPage__partnersLogo-rightsection">
      <img
        src="{{ introText.catDetailimageUrlCaseStudy1 }}"
        alt="Applying a natural capital approach"
        title="Applying a natural capital approach"
        class="case-study-image"
      />
    </div>
    <!-- Text section -->
    <div class="landingPage__partnersLogo-leftsection">
      <p class="govuk-body govuk-!-margin-bottom-2">
        <strong>
          Applying a natural capital approach to Fisheries Management
        </strong>
      </p>
      <p class="govuk-body case-study-description">
        MMO and Defra are developing England's first natural capital-based Fisheries Management Plan for pelagic fisheries in the south-west and Celtic Sea, using mNCEA guidance. A partnership approach with industry, policymakers, regulators, eNGOs and other stakeholders has built collaborative understanding of the wider system that affects and is affected by the state of pelagic fish stocks and their management in the FMP area. The partnership has developed legally binding, time-bound actions to deliver better outcomes for fish stocks, their ecosystem and dependent livelihoods.
      </p>
    </div>
  </div>
</section>

<section class="landingPage__partnersLogo case_study">
  <div class="landingPage__partnersLogo-wrapper">
    <!-- Image section -->
    <div class="landingPage__partnersLogo-rightsection">
      <img src="{{ assetPath }}/images/marine_category_deatil_page_casestudy2.png" alt="Arts-based approaches" title="Arts-based approaches" class="case-study-image">
    </div>
    <!-- Text section -->
    <div class="landingPage__partnersLogo-leftsection">
      <p class="govuk-body govuk-!-margin-bottom-2">
        <strong>
          Arts-based approaches to assess Cultural Ecosystem Services in the East Marine Plan area
        </strong>
      </p>
      <p class="govuk-body case-study-description">
        The Cefas Seascapes project explored arts-based approaches to capture Cultural Ecosystem Services from marine and coastal environments. Workshop participants created photomontages reflecting their personal connections to these environments and were interviewed about their artworks. This approach provided a richer understanding of Cultural Ecosystem Services values than traditional survey methods alone, demonstrating how such evidence can complement economic methods to inform more holistic trade-off analysis and decision-making.
      </p>
    </div>
  </div>
</section>

<section class="landingPage__partnersLogo case_study ">
  <div class="landingPage__partnersLogo-wrapper">
    <!-- Image section -->
    <div class="landingPage__partnersLogo-rightsection">
      <img src="{{ assetPath }}/images/marine_category_deatil_page_casestudy3.jpg" alt="Citizen science seabird monitoring programme" title="Citizen science seabird monitoring programme" class="case-study-image" >
    </div>
    <!-- Text section -->
    <div class="landingPage__partnersLogo-leftsection">
      <p class="govuk-body govuk-!-margin-bottom-2">
        <strong>
          Citizen science seabird monitoring programme
        </strong>
      </p>
      <p class="govuk-body case-study-description">
        Volunteer Seabirds at Sea (VSAS) is a citizen science initiative which recruits and trains volunteers to collect high quality seabirds at-sea data from vessels of opportunity around the UK. JNCC's Marine Birds project expanded the Volunteer Seabirds at Sea (VSAS) monitoring programme into England, building new citizen science volunteer networks and utilising existing ferry routes to capture high quality marine bird data.
      </p>
    </div>
  </div>
</section>
