<section class="landingPage__articles">
    <h2 class="govuk-heading-m">Citizen Science</h2>
    <div class="landingPage__intro-content">
    <img src="{{ assetPath }}/images/Citizen-Science-img.jpg" width="100%" height="533" alt="Citizen Science" >
    <p class="govuk-body govuk-!-margin-bottom-6 top-para">
      Modern technologies such as smartphones and AI have greatly increased public access to, and participation in, citizen science and there is a growing desire to strengthen national capacity for delivering citizen science projects. To fully realise this potential, it is essential to consider factors such as volunteer recruitment and retention, standardised survey methodologies, and effective data pipelines.
    </p>
    <p class="govuk-body govuk-!-margin-bottom-6">
      The NCEA Citizen Science project has enhanced the UK’s collective capacity for environmental monitoring across landscapes and cities through integrating volunteer efforts into coordinated, place‑based survey designs and trialling sustainable adoption models with NGOs and local partners. The NCEA has focussed on establishing long‑term, resilient infrastructure for citizen science, supporting the collection and use of environmental data within a Natural Capital framework, while fostering meaningful public engagement with nature through its tactical, coordinated approach.
    </p>
    <p class="govuk-body govuk-!-margin-bottom-6">
      The NCEA programme has:
    </p>
    <ul class="govuk-!-margin-bottom-6">
      <li class="govuk-body-m ncea-static-page-line-item cat-dts-li">mapped and standardised a wide range of survey practices, </li>
      <li class="govuk-body-m ncea-static-page-line-item cat-dts-li">developed shared methods and tools, and  </li>
      <li class="govuk-body-m ncea-static-page-line-item cat-dts-li">supported delivery of consistent, high‑quality environmental surveys aligned to national science and evidence needs.</li>
    </ul>
    <p class="govuk-body govuk-!-margin-bottom-6">
      By integrating volunteer efforts into coordinated, place‑based survey designs and trialling sustainable adoption models with NGOs and local partners, the NCEA has enhanced the UK’s collective capacity for environmental monitoring across landscapes and cities.
    </p>
    </div>
  </section>

  <section class="landingPage__intro">
    <div class="landingPage__intro-content">
      <h2 class="govuk-heading-m educational-copy-container__heading-m">NCEA Citizen Science Resource Library</h2>
      <p class="govuk-body govuk-!-margin-bottom-6">
        This accessible <a class="govuk-link data-categories__link" target="_blank" href="https://jncc.gov.uk/our-work/citizen-science-for-local-change/">central resource library<a/> acts as a community space to share, access and co-develop resources to support the alignment and development of quality community science.
      </p>
      <p class="govuk-body govuk-!-margin-bottom-6">
        These resources are available to anyone currently or interested in adopting Citizen Science approaches to:
      </p>
      <ul class="govuk-!-margin-bottom-6">
        <li class="govuk-body-m ncea-static-page-line-item cat-dts-li">provide direction on the best tools and techniques for developing community science,</li>
        <li class="govuk-body-m ncea-static-page-line-item cat-dts-li">promote practices that support Q-FAIR (Quality, Findable, Accessible, Interoperable, and Reusable) data principles,</li>
        <li class="govuk-body-m ncea-static-page-line-item cat-dts-li">encourage consistency and interoperability of community science initiatives at a range of scales, and</li>
        <li class="govuk-body-m ncea-static-page-line-item cat-dts-li">provide direction for those wishing to become involved in community science.</li>
      </ul>
    </div>
  </section>