<section class="landingPage__articles">
    <h2 class="govuk-heading-m">Citizen Science</h2>
    <div class="landingPage__intro-content">    
    <img src="{{ assetPath }}/images/Citizen-Science-img.jpg" width="100%" height="533" alt="{{ type }}" >
    <p class="govuk-body govuk-!-margin-bottom-6 top-para">
      Citizen Science is research conducted with participation from the public, including non-professional researchers and participants from science, social science and many other disciplines.
    </p>
    <p class="govuk-body govuk-!-margin-bottom-6">
      The NCEA Citizen Science Project worked with stakeholders to tactically advance our capability and capacity to align, coordinate, and combine volunteer engagement and participation.
    </p>
    <p class="govuk-body govuk-!-margin-bottom-6">
      Modern technologies such as smartphones and AI have greatly increased public access to, and participation in, citizen science and there is a growing desire to strengthen national capacity for delivering citizen science projects. To fully realise this potential, it is essential to consider factors such as volunteer recruitment and retention, standardised survey methodologies, and effective data pipelines. By establishing long‑term, resilient infrastructure for citizen science, the NCEA programme has supported the collection and use of environmental data within a Natural Capital framework, while fostering meaningful public engagement with nature.
    </p>
    <p class="govuk-body govuk-!-margin-bottom-6">
      The NCEA programme has:
    </p>
    <ul class="govuk-!-margin-bottom-6">
      <li class="govuk-body-m ncea-static-page-line-item cat-dts-li">mapped and standardised a wide range of survey practices, </li>
      <li class="govuk-body-m ncea-static-page-line-item cat-dts-li">developed shared methods and tools, and  </li>
      <li class="govuk-body-m ncea-static-page-line-item cat-dts-li">supported delivery of consistent, high‑quality environmental surveys aligned to national science and evidence needs.</li>
    </ul>
    <p class="govuk-body govuk-!-margin-bottom-6">
      By integrating volunteer efforts into coordinated, place‑based survey designs and trialling sustainable adoption models with NGOs and local partners, the NCEA has enhanced the UK’s collective capacity for environmental monitoring across landscapes and cities.
    </p>
    </div>
  </section>

  <section class="landingPage__intro">
    <div class="landingPage__intro-content"> 
      <h2 class="govuk-heading-m"><a class="govuk-link data-categories__link" target="_blank" href="https://jncc.gov.uk/our-work/citizen-science-for-local-change/">NCEA Citizen Science Resource Library</a></h2>
      <p class="govuk-body govuk-!-margin-bottom-6">
        A key product of the NCEA’s Citizen Science work is the Citizen Science Resource Library. This accessible central library acts as a community space to share, access and co-develop resources to support the alignment and development of quality community science. 
      </p>
      <p class="govuk-body govuk-!-margin-bottom-6">
        These resources are available to anyone currently or interested in adopting Citizen Science approaches to:
      </p>
      <ul class="govuk-!-margin-bottom-6">
        <li class="govuk-body-m ncea-static-page-line-item cat-dts-li">provide direction on the best tools and techniques for developing community science, </li>
        <li class="govuk-body-m ncea-static-page-line-item cat-dts-li">promote practices that support Q-FAIR (Quality, Findable, Accessible, Interoperable, and Reusable) data principles,</li>
        <li class="govuk-body-m ncea-static-page-line-item cat-dts-li">encourage consistency and interoperability of community science initiatives at a range of scales, and</li>
        <li class="govuk-body-m ncea-static-page-line-item cat-dts-li">provide direction for those wishing to become involved in community science.</li>
      </ul>      
    </div>
  </section>