{% from "macros/image-caption.njk" import categorieImageCaption %}
<section class="landingPage__articles">
    <h2 class="govuk-heading-m">Fresh water</h2>
    <div class="landingPage__intro-content">
    <img src="{{ assetPath }}/images/Fresh-Water-img.jpg" width="100%" height="533" alt="Fresh water" >
    {{ categorieImageCaption() }}
    <p class="govuk-body govuk-!-margin-bottom-6 top-para">
      Through a mix of field survey, in situ telemetered monitoring and earth observation, the NCEA programme provides national, unbiased monitoring of condition of rivers, small streams, lakes, groundwater, estuaries, coasts and atmospheric deposition.
    </p>
    <p class="govuk-body govuk-!-margin-bottom-6">
      By working directly with those who use the data, including Defra policy teams, NCEA is shaping its indicators and products so the programme’s data can meet real policy needs and guide future policy development in response to the government’s plan for water reform. Our derived products will also bring together different types of data so decision-makers can better understand the benefits water provides for people, nature and the economy.
    </p>
    </div>
  </section>

  <section class="landingPage__intro">
    <div class="landingPage__intro-content">
      <h2 class="govuk-heading-m educational-copy-container__heading-m">NCEA fresh water products and data sets</h2>
      <div class="grey-line">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-1 margin-top-10">
          <a class="govuk-link data-categories__link" href="/natural-capital-ecosystem-assessment/search/21763290-f395-4ca1-bcf6-884c2e7548d4">River Surveillance Network</a>
        </h3>
        <p class="govuk-body margin-bottom-10">
          The River Surveillance Network is a statistically designed nationally representative survey of England’s rivers, collecting data on ecological, chemical, and physical features of river habitats.
        </p>
      </div>
      <div class="grey-line">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-1 margin-top-10">
          <a class="govuk-link data-categories__link" href="/natural-capital-ecosystem-assessment/search/98aca14e-3736-4329-b4b6-ae7c36fa5db1">Small Streams Network</a>
        </h3>
        <p class="govuk-body margin-bottom-10">
          The Small Streams Network is a statistically designed nationally representative survey of England’s small streams, collecting data on ecological, chemical, and physical features of streams habitats.
        </p>
      </div>
      <div class="grey-line">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-1 margin-top-10">
          <a class="govuk-link data-categories__link" href="/natural-capital-ecosystem-assessment/search/71f8fc20-9028-4a5a-8a19-fedb05ed42cc?q=lakes+network&jry=qs&pg=1&rpp=20&srt=most_relevant#general">Lakes networks</a>
        </h3>
        <p class="govuk-body margin-bottom-10">
          The Lakes surveillance network is a statistically designed national monitoring network consisting of an unbiased and representative samples of lakes across England.
        </p>
      </div>
      <div class="grey-line">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-1 margin-top-10">
          <a class="govuk-link data-categories__link" href="/natural-capital-ecosystem-assessment/search/72d5f902-162b-46fd-af4a-b727d2b23a9e?q=ncea&jry=qs&pg=1&rpp=20&srt=most_relevant#general">Groundwater Ecology Network</a>
        </h3>
        <p class="govuk-body margin-bottom-10">
          The Groundwater Ecology network provides the first strategic, nationally representative monitoring network for groundwater fauna in England.
        </p>
      </div>
      <div class="grey-line">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-1 margin-top-10">
          <a class="govuk-link data-categories__link" href="/natural-capital-ecosystem-assessment/search/024e09fb-b364-4864-ac0d-3ac135b21bb5?q=ncea&jry=qs&pg=1&rpp=20&srt=most_relevant#general">Seagrass Network</a>
        </h3>
        <p class="govuk-body margin-bottom-10">
          The Seagrass Network contributes to a clearer picture of estuarine and coastal health across England by monitoring a wide range of parameters, supporting long-term measurement and establishment of a more complete national asset inventory of seagrass.
        </p>
      </div>
      <div class="grey-line">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-1 margin-top-10">
          <a class="govuk-link data-categories__link" href="/natural-capital-ecosystem-assessment/search/1786c0a7-5ace-457d-bcc9-ef114269e18f?q=ncea&jry=qs&pg=1&rpp=20&srt=most_relevant#general">Saltmarsh Network</a>
        </h3>
        <p class="govuk-body margin-bottom-10">
          The Saltmarsh Network contributes to a clearer picture of estuarine and coastal health across England by monitoring a wide range of parameters, supporting long-term measurement and establishment of a more complete national asset inventory of saltmarsh.
        </p>
      </div>
    </div>
  </section>