<section class="landingPage__articles">
    <h2 class="govuk-heading-m">Fresh water</h2>
    <div class="landingPage__intro-content">    
    <img src="{{ assetPath }}/images/Fresh-Water-img.jpg" width="100%" height="533" alt="{{ type }}" >
    <p class="govuk-body govuk-!-margin-bottom-6 top-para">
      Through a mix of field survey, in situ telemetered monitoring and earth observation, the NCEA programme provides national, unbiased monitoring of condition of rivers, small streams, lakes, groundwater, estuaries, coasts and atmospheric deposition. 
    </p>
    <p class="govuk-body govuk-!-margin-bottom-6">
      By working directly with those who use the data, including Defra policy teams, NCEA is shaping its indicators and products so the programme’s data can meet real policy needs and guide future policy development in response to the government’s plan for water reform. Our derived products will also bring together different types of data so decision‑makers can better understand the benefits water provides for people, nature and the economy.
    </p>
    </div>
  </section>

  <section class="landingPage__intro">
    <div class="landingPage__intro-content"> 
      <h2 class="govuk-heading-m">NCEA fresh water products and datasets</h2>
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
        <a class="govuk-link data-categories__link" href="/natural-capital-ecosystem-assessment/search/21763290-f395-4ca1-bcf6-884c2e7548d4">River Surveillance Network</a>
      </h3>
      <p class="govuk-body govuk-!-margin-bottom-6">
        The River Surveillance Network is a nationally representative survey of England’s rivers, collecting data on ecological, chemical, and physical features of river habitats.
      </p>
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
        <a class="govuk-link data-categories__link" href="/natural-capital-ecosystem-assessment/search/98aca14e-3736-4329-b4b6-ae7c36fa5db1">Small Streams Network</a>
      </h3>
      <p class="govuk-body govuk-!-margin-bottom-6">
        The Small Streams Network is a nationally representative survey of England’s small streams, collecting data on ecological, chemical, and physical features of river habitats.
      </p>
    </div>
  </section>