<p class="govuk-body govuk-!-margin-bottom-6 first-desc">
     Through a mix of monitoring, innovation and application projects, the marine Natural Capital and Ecosystem Assessment (mNCEA) programme explored the state of England’s marine and coastal natural assets, the benefits they provide, and the value they hold for people. ​ 
</p>
<p class="govuk-body govuk-!-margin-bottom-6">
    Marine NCEA sat within the overarching NCEA programme and ran from April 2022 to March 2025, following a proof-of-concept year. Over three years, it delivered evidence, tools and guidance to integrate natural capital approaches into policy and decision making for marine and coastal environments.
</p>
<p class="govuk-body govuk-!-margin-bottom-6">
    The programme was led by Defra and delivered in partnership with the Centre for Environment, Fisheries and Aquaculture Science (Cefas), Environment Agency, the Joint Nature Conservation Committee (JNCC), Marine Management Organisation, and Natural England. We also collaborated with other government departments, academia, the private sector and non-profits. 
</p>
<p class="govuk-body govuk-!-margin-bottom-6">
    mNCEA evidence and approaches are now helping us to factor the wider (environmental, economic and social) value of nature into decision making, so we can manage our natural resources in a way that drives benefits for both people and nature. 
</p>
