<p class="govuk-body govuk-!-margin-bottom-6">
      Through mNCEA, we have:
</p>
<ul class="govuk-!-margin-bottom-6">
    <li class="govuk-body-m ncea-static-page-line-item cat-dts-li">Collected new evidence on the location, extent and condition of England’s marine and coastal natural assets and the value they hold for people. This has filled marine evidence gaps to better inform our assessment of Good Environmental Status in UK seas. </li>
    <li class="govuk-body-m ncea-static-page-line-item cat-dts-li">Established new data collection methods to improve how Defra monitors our marine environment, including through citizen science, remote sensing, environmental DNA, and autonomous underwater vehicles. </li>
    <li class="govuk-body-m ncea-static-page-line-item cat-dts-li">Improved the way marine natural capital data is captured and analysed and ensured that mNCEA data meets Q-FAIR standards (Quality data that is Findable, Accessible, Interoperable and Reusable).</li>
    <li class="govuk-body-m ncea-static-page-line-item cat-dts-li">Developed tools, methodologies and guidance to enable a natural capital approach in local, regional and national decision making. This will help us understand the benefits and disbenefits and balance trade-offs between different marine management decisions.</li>
    <li class="govuk-body-m ncea-static-page-line-item cat-dts-li">Promoted collaborative new ways of working within Defra group and across the marine system; and boosted private finance investment in marine research and innovation through match-funded partnerships with industry.</li>
</ul>