<h2 class="govuk-heading-m govuk-\!-static-margin-0 educational-copy-container__heading-m">Links to key products</h2>
<ul class="govuk-!-margin-bottom-6">
    <li class="govuk-body-m ncea-static-page-line-item">mNCEA <b>data</b> are discoverable through the <a rel='noreferrer noopener' class='govuk-link' target="_blank"  href="https://medin.org.uk/">Marine Environmental Data and Information Network (MEDIN).</a> </li>
    <li class="govuk-body-m ncea-static-page-line-item">Project <b>reports</b> can be found on <a rel='noreferrer noopener' class='govuk-link' target="_blank" href="https://sciencesearch.defra.gov.uk/">Defra Science Search</a> by entering “ME45” in the search function. </li>
    <li class="govuk-body-m ncea-static-page-line-item">JNCC’s  <a rel='noreferrer noopener' class='govuk-link' target="_blank" href="https://www.marlin.ac.uk/asm">Universal Asset Service Matrix (uASM)</a> and <a rel='noreferrer noopener' class='govuk-link' target="_blank" href="https://www.marlin.ac.uk/asm/map">Ecosystem Services Spatial Mapping</a> tools, and updates to the <a rel='noreferrer noopener' class='govuk-link' target="_blank" href="https://jncc.gov.uk/our-work/uk-atlas-of-seabed-habitats-ukash/">UK Atlas of Seabed Habitats.</li>
    <li class="govuk-body-m ncea-static-page-line-item">Natural England’s guidance for <a rel='noreferrer noopener' class='govuk-link' target="_blank" href='https://www.dassh.ac.uk/nca'>local-scale assessment of marine areas</a>, guidance for collecting data through <a rel='noreferrer noopener' class='govuk-link' target="_blank" href='https://www.dassh.ac.uk/citizen-science/best-practice'>Citizen Science Best Practice</a>, and <a rel='noreferrer noopener' class='govuk-link' target="_blank" href='https://zenodo.org/records/15307832'>Citizen Science Cost and Benefit Evaluation</a> tool (with the UK Centre for Ecology & Hydrology).</li>
    <li class="govuk-body-m ncea-static-page-line-item">The Environment Agency’s <a rel='noreferrer noopener' class='govuk-link' target="_blank" href='https://planktonandpeople.org/'>Plankton And People</a> platform (with the UK Pelagic Habitats Expert Group), <a rel='noreferrer noopener' class='govuk-link' target="_blank" href='https://mend.eco/'>Marine Enhancement Directory</a> (through the ReMeMaRe initiative), and updates to <a rel='noreferrer noopener' class='govuk-link' target="_blank" href='https://www.estuary-guide.net/default'>The UK Estuaries Guide</a> (with ABPmer).</li>
    <li class="govuk-body-m ncea-static-page-line-item">Cefas’s <a rel='noreferrer noopener' class='govuk-link' target="_blank" href='https://giserver.cefas.co.uk/portal/apps/experiencebuilder/experience/?id=25b4cb41198740b490279e6fa17f86d6&page=Home'>Sense of Place Application</a> for the East coast of England (interactive mapping of socio-cultural values).</li>
    <li class="govuk-body-m ncea-static-page-line-item">Regional Marine Ecosystems model of communities of practice to report on ecosystem change: <a rel='noreferrer noopener' class='govuk-link' target="_blank" href='https://eastme.co.uk/eastme-organisation/'>EASTME</a> and <a rel='noreferrer noopener' class='govuk-link' target="_blank" href='https://www.nwcoastalforum.org.uk/projects/current-projects/north-west-marine-ecosystems/'>North West Marine Ecosystems</a>.</li>
</ul>