<p class="govuk-body govuk-!-margin-bottom-6">
     Through a mix of monitoring, innovation and application projects, the marine Natural Capital and Ecosystem Assessment (mNCEA) programme explored the state of England’s marine and coastal natural assets, the benefits they provide, and the value they hold for people. ​ 
</p>
<p>
    Marine NCEA sat within the overarching NCEA programme and ran from April 2022 to March 2025, following a proof-of-concept year. Over three years, it delivered evidence, tools and guidance to integrate natural capital approaches into policy and decision making for marine and coastal environments.
</p>
<p class="govuk-body govuk-!-margin-bottom-6">
    The programme was led by Defra and delivered in partnership with the Centre for Environment, Fisheries and Aquaculture Science (Cefas), Environment Agency, the Joint Nature Conservation Committee (JNCC), Marine Management Organisation, and Natural England. We also collaborated with other government departments, academia, the private sector and non-profits. 
</p>
<p class="govuk-body govuk-!-margin-bottom-6">
    mNCEA evidence and approaches are now helping us to factor the wider (environmental, economic and social) value of nature into decision making, so we can manage our natural resources in a way that drives benefits for both people and nature. 
</p>
<h2 class="govuk-heading-m">
    Descriptions of main areas of work and links to policy
</h2>
<p class="govuk-body govuk-!-margin-bottom-6">
    Through mNCEA, we have:
</p>

<ul class="govuk-!-margin-bottom-6">
    <li class="govuk-body-m ncea-static-page-line-item">Collected new evidence on the location, extent and condition of England’s marine and coastal natural assets and the value they hold for people. This has filled marine evidence gaps to better inform our assessment of Good Environmental Status in UK seas. </li>
    <li class="govuk-body-m ncea-static-page-line-item">Established new data collection methods to improve how Defra monitors our marine environment, including through citizen science, remote sensing, environmental DNA, and autonomous underwater vehicles. </li>
    <li class="govuk-body-m ncea-static-page-line-item">Improved the way marine natural capital data is captured and analysed and ensured that mNCEA data meets Q-FAIR standards (Quality data that is Findable, Accessible, Interoperable and Reusable).</li>
    <li class="govuk-body-m ncea-static-page-line-item">Developed tools, methodologies and guidance to enable a natural capital approach in local, regional and national decision making. This will help us understand the benefits and disbenefits and balance trade-offs between different marine management decisions.</li>
    <li class="govuk-body-m ncea-static-page-line-item">Promoted collaborative new ways of working within Defra group and across the marine system; and boosted private finance investment in marine research and innovation through match-funded partnerships with industry.</li>
</ul>