<h2 class="govuk-heading-m">
    Video: Transforming Water Management: A Source to Sea Approach
</h2>
<figure class="video-container">
    <iframe
        src="https://www.youtube.com/embed/tdtxtK8DDpM"
        title="Transforming Water Management: A Source to Sea Approach"
        frameborder="0"
        allowfullscreen>
    </iframe>
    <figcaption class="video-caption">
        <b>Video caption</b>: mNCEA developed ‘source to sea’ approaches that considers impacts and interventions from catchment to coast and out to sea. This could reform the future management of our water environment.
    </figcaption>
</figure>

<style>
.video-container {
    max-width: 800px;
    margin: 0 auto;
}

.video-container iframe {
    width: 100%;
    height: 450px;
}

.video-caption {
    text-align: center;
    font-size: 0.9rem;
    color: #555;
    margin-top: 8px;
}
</style>