<h2 class="govuk-heading-m">
    Video: Transforming Water Management: A Source to Sea Approach
</h2>
<figure class="video-container">
    <iframe
        src="https://www.youtube.com/embed/tdtxtK8DDpM"
        title="Transforming Water Management: A Source to Sea Approach"
        frameborder="0"
        allowfullscreen>
    </iframe>
    
</figure>
<figcaption class="video-caption">
        <b>Video caption</b>: mNCEA developed ‘source to sea’ approaches that considers impacts and interventions from catchment to coast and out to sea. This could reform the future management of our water environment.
    </figcaption>