<section class="landingPage__articles">
    <h2 class="govuk-heading-m">Marine</h2>
    <div class="landingPage__intro-content">
    <img src="{{ assetPath }}/images/Marine-Category.jpg" width="100%" height="533" alt="Marine" >
    {% include "partials/categories_detail/key_description.njk" %}
    <img src={{ introText.catDetailimageUrl1 }} width="100%" height="533" alt="{{ type }}" >
    <p class="govuk-body govuk-!-margin-bottom-6">
      <small>The challenges our seas and coasts face are complex and interconnected, from how to sustainably manage fisheries to where to place offshore windfarms. A natural capital approach helps us to consider the marine environment from multiple perspectives and identify trade-offs, dependencies and synergies across policy ambitions.</small>
    </p>
    {% include "partials/categories_detail/key_thought.njk" %}
    </div>
  </section>

  <section class="landingPage__intro">
    <div class="landingPage__intro-content">
        {% include "partials/categories_detail/key_products.njk" %}
        {% include "partials/categories_detail/case_studies.njk" %}
    </div>
  </section>