<section class="landingPage__articles">
    <h2 class="govuk-heading-m">Soils and peat</h2>
    <div class="landingPage__intro-content">
    <img src="{{ assetPath }}/images/Soils-Peat-img.jpg" width="100%" height="533" alt="Soils and peat" >
    <p class="govuk-body govuk-!-margin-bottom-6 top-para">
      Through a mix of innovative approaches using satellite data, extensive field surveys and modelling, the NCEA provides important information regarding the extent, location and condition of England’s soils and peat.
    </p>
    <p class="govuk-body govuk-!-margin-bottom-6">
      By providing a more robust national baseline of our soils and peat, this data enables us to make better informed decisions about how to manage them. This will allow for better outcomes for soil as part of Environmental Land Management, National Biodiversity and Land Use Change. With the NCEA soil datasets we can report on condition, with such data being critical for reporting to the Environment Indicator Framework E7 Healthy Soils indicator.
    </p>
    </div>
  </section>

  <section class="landingPage__intro">
    <div class="landingPage__intro-content">
      <h2 class="govuk-heading-m educational-copy-container__heading-m">NCEA soils and peat products and datasets</h2>
      <div class="grey-line">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-1 margin-top-10">
          England Ecosystem Survey
        </h3>
        <p class="govuk-body margin-bottom-10">
          The England Ecosystem survey is England’s largest ever field survey collecting data to assess the state, condition and connectivity of our soils, habitats, vegetation and landscape assets. It collects data on soil physical and chemical properties and soil and water biota, including environmental DNA.
        </p>
      </div>
      <div class="grey-line">
        <h3 class="govuk-heading-s margin-top-10">
          <a class="govuk-link data-categories__link" target="_blank" href="https://england-peat-map-portal-ncea.hub.arcgis.com/">England Peat Map</a>
        </h3>
        <p class="govuk-body margin-bottom-10">
          The England Peat Map models the extent, depth, and aspects of condition of our peat, including vegetation and surface features like grips and gullies (man-made and natural drainage channels).
        </p>
      </div>
      <div class="grey-line">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-1 margin-top-10">
          <a class="govuk-link data-categories__link" href="/natural-capital-ecosystem-assessment/search/cb248472-9915-43e1-b8d8-a516c1d7d900?q=Mycorrhizas&jry=qs&pg=1&rpp=20&srt=most_relevant#general">Mycorrhizal Baseline Dataset</a>
        </h3>
        <p class="govuk-body margin-bottom-10">
          The Mycorrhizal baseline dataset provides in situ diversity data for belowground mycorrhizal fungi, including mycorrhizal types, diversity estimates, soil fungal biomass and community composition across terrestrial habitats in England.
        </p>
      </div>
    </div>
  </section>