<section class="landingPage__articles">
    <h2 class="govuk-heading-m">Trees and woodland</h2>
    <div class="landingPage__intro-content">    
    <img src="{{ assetPath }}/images/Trees-Woodland-img.jpg" width="100%" height="533" alt="{{ type }}" >
    <p class="govuk-body govuk-!-margin-bottom-6 top-para">
      The NCEA programme strengthens national understanding of England’s trees and forestry by mapping the extent, location and condition of ancient woodland, wood pasture and parkland, woodlands, trees outside of woodlands, and young trees in England. 
    </p>
    <p class="govuk-body govuk-!-margin-bottom-6">
      By providing a more accurate stocktake of our tree assets, this data enables better environmental decision‑making. It does this by allowing more accurate carbon capture calculations, helping us to identify potential tree planting sites to enable greater habitat connectivity, boosting confidence and encouraging investment in nature-based solutions.
    </p>
     <p class="govuk-body govuk-!-margin-bottom-6">
      NCEA is also providing critical data for monitoring progress against Environment Act and Environment Improvement Plan commitments, including the England’s tree canopy and woodland cover target via the Trees Outside Woodland Map.
     </p> 
    </div>
  </section>

  <section class="landingPage__intro">
    <div class="landingPage__intro-content"> 
      <h2 class="govuk-heading-m">NCEA trees and forestry products and datasets</h2>
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
        <a class="govuk-link data-categories__link" target="_blank" href="https://www.data.gov.uk/dataset/9461f463-c363-4309-ae77-fdcd7e9df7d3/ancient-woodland-england">Ancient Woodland Inventory</a>
      </h3>
      <p class="govuk-body govuk-!-margin-bottom-6">
        The Ancient Woodland Inventory (AWI) is a national GIS dataset mapping ancient woodland sites over 0.25 hectares, including ancient wood pasture and parkland. It identifies more than 52,000 sites across England and is currently being updated to expand and modernise this core evidence base on woodland extent and condition.
      </p>
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
        <a class="govuk-link data-categories__link" target="_blank" href="https://environment.data.gov.uk/defra/97db9f06-94ed-49cf-bc72-333504ac62c1/details">National Forest Inventory Plus</a>
      </h3>
      <p class="govuk-body govuk-!-margin-bottom-6">
        An extension to the <a class="govuk-link data-categories__link" target="_blank" href="https://www.forestresearch.gov.uk/tools-and-resources/national-forest-inventory/">National Forest Inventory (NFI)</a>, The National Forest Inventory Plus consists of multiple projects that capture data on the ecological condition of woodlands.
      </p>
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
        <a class="govuk-link data-categories__link" href="/natural-capital-ecosystem-assessment/search/4643704a-ed4d-4bfd-8d5a-12a5d217e8e4?q=analysis+ready+data">Trees Outside Woodland Field Survey</a>
      </h3>
      <p class="govuk-body govuk-!-margin-bottom-6">
        The Trees Outside Woodland field survey complements the existing National Forest Inventory (NFI) programme, completing a systematic field survey of English trees outside woodland, including small woods, groups of trees, lone trees, and hedgerows in both rural and urban settings.
      </p>
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
        <a class="govuk-link data-categories__link" target="_blank" href="https://ncea.maps.arcgis.com/apps/instant/sidebar/index.html?appid=cf571f455b444e588aa94bbd22021cd3">Trees Outside Woodland Map</a>
      </h3>
      <p class="govuk-body govuk-!-margin-bottom-6">
        The Trees Outside Woodlands map combines LiDAR and Aerial Imagery to build a comprehensive national map of English trees outside woodland, including small woods, groups of trees, lone trees, and hedgerows in both rural and urban settings.
      </p>
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
        <a class="govuk-link data-categories__link" target="_blank" href="https://data-forestry.opendata.arcgis.com/documents/4ed4d3a72db8497cb6b0b58208996705/explore">Tree Species Map</a>
      </h3>
      <p class="govuk-body govuk-!-margin-bottom-6">
        The Tree Species map is a map of probable dominant species in uniform groups of trees.  
      </p>
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
        <a class="govuk-link data-categories__link" target="_blank" href="https://data-forestry.opendata.arcgis.com/documents/071f971241204e3d9772ef720f8a63e4/explore">Young Trees Map</a>
      </h3>
      <p class="govuk-body govuk-!-margin-bottom-6">
        The Young Trees map shows forest areas that have been cleared and replanted over an 8-year period.  
      </p>
    </div>
  </section>