<section class="landingPage__articles">
    <h2 class="govuk-heading-m">Vegetation, landscape and habitat</h2>
    <div class="landingPage__intro-content">    
    <img src="{{ assetPath }}/images/Vegetation-Landscape-img.jpg" width="100%" height="533" alt="{{ type }}" >
    <p class="govuk-body govuk-!-margin-bottom-6 top-para">
      Through a mix of approaches using satellite imagery, extensive field surveys and modelling, the NCEA programme provides information with national coverage on the location, extent and condition of England’s habitats, along with wider landscape characteristics. 
    </p>
    <p class="govuk-body govuk-!-margin-bottom-6">
      This evidence helps build a detailed and up-to-date understanding of England’s habitats, vegetation and key landscape features. Such information supports policy and land management decisions and forms a core part of NCEA’s wider ambition to develop a whole‑system view of England’s natural environment.
    </p>
    </div>
  </section>

  <section class="landingPage__intro">
    <div class="landingPage__intro-content"> 
      <h2 class="govuk-heading-m">NCEA vegetation and landscape products and datasets</h2>
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
        <a class="govuk-link data-categories__link" href="/natural-capital-ecosystem-assessment/search/c96ee00d-0ec2-46fc-91e9-42957c51d588?q=Botanical+value+map+&jry=qs&pg=1&rpp=20&srt=most_relevant#general">Botanical Value Map</a>
      </h3>
      <p class="govuk-body govuk-!-margin-bottom-6">
        The Summarised Botanical Value Map (England) identifies areas likely to be rich in high quality habitat, based on Botanical Society of Britain and Ireland vascular plant records.
      </p>
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
        <a class="govuk-link data-categories__link" target="_blank" href="https://publications.naturalengland.org.uk/publication/5610689568440320">England Ecosystem Survey</a>
      </h3>
      <p class="govuk-body govuk-!-margin-bottom-6">
        The England Ecosystem survey is England’s largest ever field survey collecting data on attributes of extent, condition and connectivity relating to habitats, vegetation and landscape features and landscape character. It is also collecting data on soil physical and chemical properties and soil and water biota, including environmental DNA.
      </p>
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
        <a class="govuk-link data-categories__link" target="_blank" href="https://designatedsites.naturalengland.org.uk/GreenInfrastructure/Map.aspx">Green Infrastructure Map</a>
      </h3>
      <p class="govuk-body govuk-!-margin-bottom-6">
        A collection of map layers, with their underpinning databases, which show where green (parks, street trees, green bridges, private gardens, woodlands) and blue (ponds, rivers) spaces can be found across England and provide insights on their accessibility.
      </p>
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
        <a class="govuk-link data-categories__link" href="/natural-capital-ecosystem-assessment/search/4aa716ce-f6af-454c-8ba2-833ebc1bde96">Living England Habitat Map</a>
      </h3>
      <p class="govuk-body govuk-!-margin-bottom-6">
        A nationwide broad habitat map created by models which use satellite imagery, field data and other geospatial data.
      </p>
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
        <a class="govuk-link data-categories__link" href="/natural-capital-ecosystem-assessment/search/92b43165-0dd0-4e69-a712-1e49bb5aa0d0">Priority Habitat Inventory</a>
      </h3>
      <p class="govuk-body govuk-!-margin-bottom-6">
        Updates to the maps showing the locations and extent of priority habitats in England.
      </p>
    </div>
  </section>