{% from "macros/card.njk" import card %}

{% extends "layout/default.njk" %}
{% block content %}
  <div class="landingPage">
  <header class="landingPage__header full-width-banner" role="banner">
    <div class="landingPage__header__heading">
      <h1 class="govuk-heading-xl banner-container__heading-xl">{{ pageHeading }}</h1>
      <img alt="Department for Environment Food &amp; Rural Affairs Logo" src="{{ assetPath }}/images/NCEA-logo-landscape.png" class="banner-container__ncea-logo">
    </div>
  </header>
   <section class="landingPage__intro">
        <div class="categories__intro_content">
          {% for content in introText.content %}
            <p class="govuk-body govuk-!-margin-bottom-6">
            {{ content }}
            </p>
          {% endfor %}
        </div>
        <img class="landingPage__intro__img" src={{ introText.imageUrl }} alt="">
    </section>
    <section class="landingPage__categories">
      <div class="landingPage__categories_cardLayout">
      {% for item in categories %}
        {{card(item.text, item.imgUrl)}}
      {% endfor %}
      </div>
    </section>
  </div>
{% endblock %}
