<div class="govuk-grid-row govuk-!-margin-bottom-6 data-categories">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m govuk-\!-static-margin-0 educational-copy-container__heading-m">Data categories</h2>
    <p class="govuk-body govuk-!-margin-bottom-6">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    </p>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-margin-bottom-6">
    <div class="data-categories__item">
      <img src="{{ assetPath }}/images/Vegetation-Landscape.jpg" alt="Vegetation and landscape" class="govuk-!-margin-bottom-2 data-categories__image" />
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
        <a class="govuk-link data-categories__link" href="/natural-capital-ecosystem-assessment/categoriesDetail?type=Vegetation and landscape">Vegetation and landscape</a>
      </h3>
      <p class="govuk-body govuk-!-margin-bottom-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud …</p>
    </div>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-margin-bottom-6">
    <div class="data-categories__item">
      <img src="{{ assetPath }}/images/Trees-Woodland.jpg" alt="Trees and woodland" class="govuk-!-margin-bottom-2 data-categories__image" />
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
        <a class="govuk-link data-categories__link" href="/natural-capital-ecosystem-assessment/categoriesDetail?type=Trees and woodland">Trees and woodland</a>
      </h3>
      <p class="govuk-body govuk-!-margin-bottom-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud …</p>
    </div>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-margin-bottom-6">
    <div class="data-categories__item">
      <img src="{{ assetPath }}/images/Fresh-Water.jpg" alt="Fresh water" class="govuk-!-margin-bottom-2 data-categories__image" />
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
        <a class="govuk-link data-categories__link" href="/natural-capital-ecosystem-assessment/categoriesDetail?type=Fresh water">Fresh water</a>
      </h3>
      <p class="govuk-body govuk-!-margin-bottom-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud …</p>
    </div>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-margin-bottom-6">
    <div class="data-categories__item">
      <img src="{{ assetPath }}/images/Soils-Peat.jpg" alt="Soils and peat" class="govuk-!-margin-bottom-2 data-categories__image" />
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
        <a class="govuk-link data-categories__link" href="/natural-capital-ecosystem-assessment/categoriesDetail?type=Soils and peat">Soils and peat</a>
      </h3>
      <p class="govuk-body govuk-!-margin-bottom-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud …</p>
    </div>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-margin-bottom-6">
    <div class="data-categories__item">
      <img src="{{ assetPath }}/images/Marine.jpg" alt="Marine" class="govuk-!-margin-bottom-2 data-categories__image" />
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
        <a class="govuk-link data-categories__link" href="/natural-capital-ecosystem-assessment/categoriesDetail?type=Marine">Marine</a>
      </h3>
      <p class="govuk-body govuk-!-margin-bottom-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud …</p>
    </div>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-margin-bottom-6">
    <div class="data-categories__item">
      <img src="{{ assetPath }}/images/Citizen-Science.jpg" alt="Citizen Science" class="govuk-!-margin-bottom-2 data-categories__image" />
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
        <a class="govuk-link data-categories__link" href="/natural-capital-ecosystem-assessment/categoriesDetail?type=Citizen Science">Citizen Science</a>
      </h3>
      <p class="govuk-body govuk-!-margin-bottom-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud …</p>
    </div>
  </div>
</div>
