<div class="govuk-grid-row data-categories">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m govuk-\!-static-margin-0 educational-copy-container__heading-m">Explore NCEA products and datasets</h2>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-margin-bottom-3">
    <div class="data-categories__item">
      <img src="{{ assetPath }}/images/Vegetation-Landscape-img.jpg" alt="Vegetation and landscape" class="govuk-!-margin-bottom-2 data-categories__image" />
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
        <a class="govuk-link data-categories__link" href="/natural-capital-ecosystem-assessment/categoriesDetail/vegetation">Vegetation, landscape and habitat</a>
      </h3>
    </div>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-margin-bottom-3">
    <div class="data-categories__item">
      <img src="{{ assetPath }}/images/Trees-Woodland-img.jpg" alt="Trees and woodland" class="govuk-!-margin-bottom-2 data-categories__image" />
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
        <a class="govuk-link data-categories__link" href="/natural-capital-ecosystem-assessment/categoriesDetail/treeswoodland">Trees and woodland</a>
      </h3>
    </div>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-margin-bottom-3">
    <div class="data-categories__item">
      <img src="{{ assetPath }}/images/Fresh-Water-img.jpg" alt="Fresh water" class="govuk-!-margin-bottom-2 data-categories__image" />
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
        <a class="govuk-link data-categories__link" href="/natural-capital-ecosystem-assessment/categoriesDetail/freshwater">Fresh water</a>
      </h3>
    </div>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-margin-bottom-3">
    <div class="data-categories__item">
      <img src="{{ assetPath }}/images/Soils-Peat-img.jpg" alt="Soils and peat" class="govuk-!-margin-bottom-2 data-categories__image" />
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
        <a class="govuk-link data-categories__link" href="/natural-capital-ecosystem-assessment/categoriesDetail/soilspeat">Soils and peat</a>
      </h3>
    </div>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-margin-bottom-3">
    <div class="data-categories__item">
      <img src="{{ assetPath }}/images/Marine-img.jpg" alt="Marine" class="govuk-!-margin-bottom-2 data-categories__image" />
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
        <a class="govuk-link data-categories__link" href="/natural-capital-ecosystem-assessment/categoriesDetail/marine">Marine</a>
      </h3>
    </div>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-margin-bottom-3">
    <div class="data-categories__item">
      <img src="{{ assetPath }}/images/Citizen-Science-img.jpg" alt="Citizen Science" class="govuk-!-margin-bottom-2 data-categories__image" />
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
        <a class="govuk-link data-categories__link" href="/natural-capital-ecosystem-assessment/categoriesDetail/citizen-science">Citizen Science</a>
      </h3>
    </div>
  </div>
</div>
