.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2a3034;
  opacity: 0.6;
  z-index: 999;
  display: none;
}

.modal {
  display: none;
  position: fixed;
  overflow: auto;
  z-index: 1000;
}

.resource-modal {
  z-index: 1002;
  background-color: govuk-colour("dark-grey");
  padding: 40px 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
}

.map-modal {
  background-color: govuk-colour("white");
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#overlay.active,
#modal.active {
  display: block;
}

.modal-content {
  text-align: center;
}
