.quick_search-container {
  &__heading-m {
    @include font-style-stack(24px, 30px);
    color: $govuk-text-colour;
    margin: 0px;

    &--large {
      font-size: 36px;
    }
  }

  &__caption-m {
    width: 640px;
    @include font-style-stack(19px, 25px, 300);
    color: $govuk-text-colour;
    padding-top: 20px;
  }

  @media screen and (max-width: 799px) {
    &__caption-m {
      width: 100%;
    }
  }
}

.search-block {
  &__form {
    position: relative;
    width: 630px;
    margin-bottom: 20px;
  }

  @media screen and (max-width: 799px) {
    &__form {
      width: 100%;
    }
  }

  &__label {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    border: 0 !important;
    white-space: nowrap !important;
  }

  &__button {
    position: absolute;
    bottom: 0;
    right: 0;
    border: 0;
    background-color: $gov-defra-color-websafe;
    color: govuk-colour("white");
    cursor: pointer;
    padding: 0;
    width: 40px;
    height: inherit;
    background-image: url(/assets/images/search-icon.png);
    background-repeat: no-repeat;
    background-position: 10px 50%;
    text-indent: -5000px;
    overflow: hidden;
  }
}

.data-container {
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: 30px;

  &__heading-l {
    @include font-style-stack(36px, 40px);
    color: govuk-colour("white");
  }

  &__body-l {
    @include font-style-stack(19px, 24px, 300);
    color: govuk-colour("white");
  }

  &__button-group {
    justify-content: center;
  }
}

.map-container {
  width: 640px;
  height: 130px;
  background-image: url(/assets/images/view-result-button-map.png);
  border-width: 2px;
  border-color: #002D18;
  border-style: solid;
  background-size: cover;
}

#map-results-block a{
  left: 159.5px;
  padding: 7px 12px 6px 12px;
  top: 50.5px;
}

.no-script-container{
  padding-top: 15px;
}