.quick_search-container {
  &__heading-m {
    @include font-style-stack(24px, 30px);
    color: $govuk-text-colour;
    margin: 0px;

    &--large {
      font-size: 36px;
    }
  }
}

.search-block {
  .search-result-input-spacing {
    margin-bottom: 25px;
  }

  &__form {
    position: relative;
    width: 100%;
    max-width: 630px;
    margin-bottom: 20px;
  }

  @media screen and (max-width: 799px) {
    &__form {
      width: 100%;
    }
  }

  &__label {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    border: 0 !important;
    white-space: nowrap !important;
  }

}

.home-search-divider {
  border-color: #008938;
  border-width: 2px;
}

.home-search-button,
.home-guided-start-button {
  font-size: 1.125rem;
  line-height: 1;
  font-weight: 400;
  background-color: #008938;
  box-shadow: 0 2px 0 #005a30;
}

@media (min-width: 40.0625em) {
  .home-search-button,
  .home-guided-start-button {
    font-size: 1.5rem;
  }
}

.home-search-button:hover,
.home-guided-start-button:hover {
  background-color: #007a31;
}

.home-search-button[disabled]:hover,
.home-guided-start-button[disabled]:hover {
  background-color: #008938;
}

.data-container {
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: 30px;

  &__heading-l {
    @include font-style-stack(36px, 40px);
    color: govuk-colour('white');
  }

  &__body-l {
    @include font-style-stack(19px, 24px, 300);
    color: govuk-colour('white');
  }

  &__button-group {
    justify-content: center;
  }
}

.map-container {
  width: 640px;
  height: 130px;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-image: govuk-image-url('view-result-button-map.webp');
    border-width: 2px;
    border-color: #002d18;
    border-style: solid;
    background-size: cover;
  }

  &.disabled::before {
    filter: grayscale(100%);
  }
}

#map-results-block {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-script-container {
  padding-top: 15px;
}

.spatial-data-button {
  &.no-data {
    opacity: 1 !important;
  }
}
