$gov-defra-color-websafe: govuk-organisation-colour('department-for-environment-food-rural-affairs');

$defra-brand: #008938;

$defra-brand-hover: #005623;

$govuk-black: #0b0c0c;

$defra-brand-focus: rgb(255 221 0);
