{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set startDate = announcementStartDate %}
{% set endDate = announcementEndDate %}
{% set today = today %}

{% if today >= startDate and today <= endDate %}
    {% set surveyBannerHtml %}
        <p class="govuk-body"><strong>Help us shape data discovery</strong></p>
        <p class="govuk-body">We are conducting user research to improve how you find natural capital data. Please help us by completing a brief survey.</p>
        <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="{{ announcementSurveyLink }}">
            Go to survey
        </a>
    {% endset %}

    {{ govukInsetText({
        html: surveyBannerHtml
    }) }}
{% endif %}
