@import 'govuk/all';

$gov-defra-color-websafe: govuk-organisation-colour(
  'department-for-environment-food-rural-affairs'
);

.app-main-class {
  padding-top: 10px;
  padding-bottom: 10px;
}

@import '../../views/screens/index';
